workflows/B2B Lead Weekly Summary.json
{
  "name": "B2B Lead Weekly Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ],
      "id": "3d301015-075c-45ab-8e43-d1668f2698b0",
      "name": "Friday 5pm"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "leads"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        200
      ],
      "id": "a34f23ae-1493-41e4-8e3e-08fd61339246",
      "name": "Read Leads For Weekly",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "error_logs"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        200
      ],
      "id": "4014c188-4917-4ac3-8d3e-af98680da63e",
      "name": "Read Errors For Weekly",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "weekly_metrics"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        660,
        200
      ],
      "id": "51d587d7-9fde-439f-9daf-78118656de23",
      "name": "Read Prior Weekly Metrics",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "config_main"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        200
      ],
      "id": "2ac5a1d6-c5b9-4c60-ab2a-17cbac48dcb2",
      "name": "Read config_main",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all().map(i => i.json).filter(r => r && !r.config_table);\nreturn {\n  config_table: 'config_main',\n  rows,\n  load_failed: false,\n  load_error_message: '',\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        360
      ],
      "id": "43fafc7b-2fdb-44c3-b929-3dfe214cf6b7",
      "name": "Normalize config_main"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Read config_main error';\n\nreturn {\n  config_table: 'config_main',\n  rows: [],\n  load_failed: true,\n  load_error_message: errorMessage,\n  _metadata: {\n    processing_stage: 'config_main_read_failed',\n    severity: 'medium',\n    error_message: errorMessage,\n    error_description: errorObj.description || '',\n    failed_node: 'Read config_main',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        520
      ],
      "id": "11f0fabb-57b7-422e-b2d2-85b5e72a2796",
      "name": "Handle config_main Read Error"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "config_notifications"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1100,
        200
      ],
      "id": "8217f4eb-e470-413e-9ec1-5d64cf0e0958",
      "name": "Read config_notifications",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all().map(i => i.json).filter(r => r && !r.config_table);\nreturn {\n  config_table: 'config_notifications',\n  rows,\n  load_failed: false,\n  load_error_message: '',\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        360
      ],
      "id": "32c601cd-068e-4f2d-9ad5-08554274fc45",
      "name": "Normalize config_notifications"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Read config_notifications error';\n\nreturn {\n  config_table: 'config_notifications',\n  rows: [],\n  load_failed: true,\n  load_error_message: errorMessage,\n  _metadata: {\n    processing_stage: 'config_notifications_read_failed',\n    severity: 'medium',\n    error_message: errorMessage,\n    error_description: errorObj.description || '',\n    failed_node: 'Read config_notifications',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        520
      ],
      "id": "a5a0b62c-72b6-417a-a961-b6d99ef01ddd",
      "name": "Handle config_notifications Read Error"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nfunction safeNodeJson(name) {\n  try {\n    return $(name).first()?.json;\n  } catch {\n    return undefined;\n  }\n}\n\nfunction loadWrapper(normalizeName, handleName, table) {\n  const ok = safeNodeJson(normalizeName);\n  if (ok) return ok;\n  const err = safeNodeJson(handleName);\n  if (err) return err;\n  return {\n    config_table: table,\n    rows: [],\n    load_failed: true,\n    load_error_message: 'Config wrapper not executed',\n  };\n}\n\nconst mainWrap = loadWrapper('Normalize config_main', 'Handle config_main Read Error', 'config_main');\nconst notificationWrap = loadWrapper(\n  'Normalize config_notifications',\n  'Handle config_notifications Read Error',\n  'config_notifications',\n);\n\nconst mainRows = (mainWrap.rows || []).filter(r => r.key);\nconst notificationRows = (notificationWrap.rows || []).filter(r => r.event_type);\n\nconst kv = {};\nfor (const row of mainRows) {\n  if (row.key) kv[row.key] = row.value;\n}\n\nconst weeklyRule = notificationRows.find(r => r.event_type === 'weekly_summary') || {};\nconst weeklyEnabled = weeklyRule.enabled === true || weeklyRule.enabled === 'true';\n\nconst failedTables = [mainWrap, notificationWrap]\n  .filter(w => w.load_failed)\n  .map(w => w.config_table);\n\nreturn {\n  mode: (kv.mode || 'test').toLowerCase(),\n  score_threshold_high: parseInt(kv.score_threshold_high || '80', 10),\n  weekly_summary_enabled: weeklyEnabled,\n  config_load_failed: failedTables.length > 0,\n  config_failed_tables: failedTables,\n  _metadata: { processing_stage: 'weekly_config_loaded' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        200
      ],
      "id": "6cc35e44-199f-43a8-89f0-6a91e7adc5ae",
      "name": "Load Weekly Config"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Weekly Summary read error';\n\n\nfunction safeNodeAll(name) {\n  try {\n    return $(name).all().map(i => i.json);\n  } catch {\n    return [];\n  }\n}\n\nconst leads = safeNodeAll('Read Leads For Weekly').filter(r => r.lead_id);\nconst now = new Date();\nconst day = now.getUTCDay();\nconst diffToMonday = (day + 6) % 7;\nconst weekStart = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate() - diffToMonday));\nconst weekStartStr = weekStart.toISOString().slice(0, 10);\nconst weekEndStr = now.toISOString().slice(0, 10);\n\nconst inWeek = (ts) => {\n  if (!ts) return false;\n  const d = new Date(ts);\n  return d >= weekStart && d <= now;\n};\n\nconst weekLeads = leads.filter(l => inWeek(l.created_at));\nconst correlationId = 'weekly-' + weekStartStr + '-' + Math.random().toString(36).slice(2, 10);\n\nconst metricsJson = {\n  week_start: weekStartStr,\n  week_end: weekEndStr,\n  generated_at: now.toISOString(),\n  new_leads: weekLeads.length,\n  high_score_leads: weekLeads.filter(l => Number(l.score || 0) >= 80).length,\n  avg_score: 'N/A',\n  crm_sync_rate: weekLeads.length ? 'partial' : 'N/A',\n  slack_sent_count: weekLeads.filter(l => l.notification_status === 'sent').length,\n  review_pending: weekLeads.filter(l => l.review_status === 'pending_review').length,\n  review_approved: weekLeads.filter(l => l.review_status === 'approved').length,\n  review_rejected: weekLeads.filter(l => l.review_status === 'rejected').length,\n  meetings_booked: weekLeads.filter(l => l.meeting_status === 'booked').length,\n  booking_rate: 'N/A',\n  first_touch_sent: weekLeads.filter(l => l.first_touch_status === 'sent').length,\n  error_count: 0,\n  error_types: {},\n  leads_by_source: {},\n  leads_by_industry: {},\n  leads_by_lead_stage: {},\n  funnel: { intake: weekLeads.length, enriched: 0, scored: 0, crm_synced: 0, booked: 0 },\n};\n\nreturn {\n  ...metricsJson,\n  metrics_json: metricsJson,\n  prior_week_metrics: {},\n  prior_week_start: '',\n  mode: 'test',\n  weekly_summary_enabled: false,\n  weekly_gate_passed: false,\n  correlation_id: correlationId,\n  source_breakdown_json: '{}',\n  _weekly_degraded: true,\n  weekly_read_error_message: errorMessage,\n  _metadata: {\n    processing_stage: 'weekly_summary_read_failed',\n    severity: 'medium',\n    error_message: errorMessage,\n    failed_node: 'Read Leads/Errors/Prior Weekly Metrics',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        400
      ],
      "id": "c391bd5b-c863-4d67-bead-129385a3f832",
      "name": "Handle Weekly Read Error"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nfunction safeNodeAll(name) {\n  try {\n    return $(name).all().map(i => i.json);\n  } catch {\n    return [];\n  }\n}\n\nconst config = $('Load Weekly Config').first()?.json || {};\nconst leads = safeNodeAll('Read Leads For Weekly').filter(r => r.lead_id);\nconst errors = safeNodeAll('Read Errors For Weekly');\nconst priorRows = safeNodeAll('Read Prior Weekly Metrics').filter(r => r.week_start);\n\nconst now = new Date();\nconst day = now.getUTCDay();\nconst diffToMonday = (day + 6) % 7;\nconst weekStart = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate() - diffToMonday));\nconst weekEnd = new Date(now);\n\nconst weekStartStr = weekStart.toISOString().slice(0, 10);\nconst weekEndStr = weekEnd.toISOString().slice(0, 10);\n\nconst inWeek = (ts) => {\n  if (!ts) return false;\n  const d = new Date(ts);\n  return d >= weekStart && d <= weekEnd;\n};\n\nconst threshold = Number(config.score_threshold_high || 80);\nconst weekLeads = leads.filter(l => inWeek(l.created_at));\nconst scores = weekLeads.map(l => Number(l.score || 0)).filter(n => !Number.isNaN(n));\nconst highScore = weekLeads.filter(l => Number(l.score || 0) >= threshold);\nconst crmSynced = weekLeads.filter(l => l.crm_status === 'synced');\nconst notified = weekLeads.filter(l => l.notification_status === 'sent');\nconst reviewPending = weekLeads.filter(l => l.review_status === 'pending_review');\nconst reviewApproved = weekLeads.filter(l => l.review_status === 'approved');\nconst reviewRejected = weekLeads.filter(l => l.review_status === 'rejected');\nconst meetingsBooked = weekLeads.filter(l => l.meeting_status === 'booked');\nconst firstTouchSent = weekLeads.filter(l => l.first_touch_status === 'sent');\n\nconst avgScore = scores.length\n  ? (scores.reduce((a, b) => a + b, 0) / scores.length).toFixed(1)\n  : 'N/A';\n\nconst crmSyncRate = weekLeads.length\n  ? (crmSynced.length / weekLeads.length * 100).toFixed(1) + '%'\n  : 'N/A';\n\nconst bookingRate = highScore.length\n  ? (meetingsBooked.length / highScore.length * 100).toFixed(1) + '%'\n  : 'N/A';\n\nconst errorTypes = {};\nfor (const e of errors.filter(e => inWeek(e.timestamp))) {\n  const key = (e.message || 'unknown').slice(0, 40);\n  errorTypes[key] = (errorTypes[key] || 0) + 1;\n}\n\nconst groupCount = (rows, field) => {\n  const out = {};\n  for (const row of rows) {\n    const key = (row[field] || 'unknown').toString().trim() || 'unknown';\n    out[key] = (out[key] || 0) + 1;\n  }\n  return out;\n};\n\nconst leadsBySource = groupCount(weekLeads, 'source_type');\nconst leadsByIndustry = groupCount(weekLeads, 'industry');\nconst leadsByStage = groupCount(weekLeads, 'lead_stage');\n\nconst funnel = {\n  intake: weekLeads.length,\n  enriched: weekLeads.filter(l => l.enrichment_status === 'complete').length,\n  scored: weekLeads.filter(l => Number(l.score || 0) > 0).length,\n  crm_synced: crmSynced.length,\n  booked: meetingsBooked.length,\n};\n\nconst priorWeekStart = new Date(weekStart);\npriorWeekStart.setUTCDate(priorWeekStart.getUTCDate() - 7);\nconst priorWeekStartStr = priorWeekStart.toISOString().slice(0, 10);\nconst priorRow = priorRows\n  .filter(r => r.week_start === priorWeekStartStr)\n  .sort((a, b) => (b.generated_at || '').localeCompare(a.generated_at || ''))[0];\n\nlet priorWeekMetrics = {};\nif (priorRow) {\n  try {\n    priorWeekMetrics = priorRow.metrics_json ? JSON.parse(priorRow.metrics_json) : { ...priorRow };\n  } catch {\n    priorWeekMetrics = { ...priorRow };\n  }\n}\n\nconst wowDelta = (key) => {\n  if (!priorRow) return null;\n  const current = Number(weekLeads.length && key === 'new_leads' ? weekLeads.length : 0);\n  const map = {\n    new_leads: weekLeads.length,\n    high_score_leads: highScore.length,\n    meetings_booked: meetingsBooked.length,\n    slack_sent_count: notified.length,\n    error_count: Object.values(errorTypes).reduce((a, b) => a + b, 0),\n  };\n  const c = Number(map[key] ?? 0);\n  const p = Number(priorRow[key] ?? priorWeekMetrics[key] ?? 0);\n  if (p === 0) return c > 0 ? 100 : 0;\n  return Math.round(((c - p) / p) * 100);\n};\n\nconst correlationId = 'weekly-' + weekStartStr + '-' + Math.random().toString(36).slice(2, 10);\nconst generatedAt = now.toISOString();\n\nconst metricsJson = {\n  week_start: weekStartStr,\n  week_end: weekEndStr,\n  generated_at: generatedAt,\n  new_leads: weekLeads.length,\n  high_score_leads: highScore.length,\n  avg_score: avgScore,\n  crm_sync_rate: crmSyncRate,\n  slack_sent_count: notified.length,\n  review_pending: reviewPending.length,\n  review_approved: reviewApproved.length,\n  review_rejected: reviewRejected.length,\n  meetings_booked: meetingsBooked.length,\n  booking_rate: bookingRate,\n  first_touch_sent: firstTouchSent.length,\n  error_count: Object.values(errorTypes).reduce((a, b) => a + b, 0),\n  error_types: errorTypes,\n  leads_by_source: leadsBySource,\n  leads_by_industry: leadsByIndustry,\n  leads_by_lead_stage: leadsByStage,\n  funnel,\n  score_threshold_high: threshold,\n  wow_delta: {\n    new_leads: wowDelta('new_leads'),\n    high_score_leads: wowDelta('high_score_leads'),\n    meetings_booked: wowDelta('meetings_booked'),\n    slack_sent_count: wowDelta('slack_sent_count'),\n    error_count: wowDelta('error_count'),\n  },\n};\n\nreturn {\n  ...metricsJson,\n  metrics_json: metricsJson,\n  prior_week_metrics: priorWeekMetrics,\n  prior_week_start: priorWeekStartStr,\n  mode: config.mode || 'test',\n  weekly_summary_enabled: config.weekly_summary_enabled === true,\n  weekly_gate_passed:\n    (config.mode || 'test') === 'production' && config.weekly_summary_enabled === true,\n  correlation_id: correlationId,\n  source_breakdown_json: JSON.stringify(leadsBySource),\n  _metadata: { processing_stage: 'weekly_metrics_built' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        200
      ],
      "id": "bc141d6e-3f6a-49b9-935b-98d037347b42",
      "name": "Build Weekly Metrics"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://crm_python_ai:8001/weekly-insights",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ week_start: $json.week_start, week_end: $json.week_end, correlation_id: $json.correlation_id, metrics: $json.metrics_json, prior_week_metrics: $json.prior_week_metrics || {} }) }}",
        "options": {
          "timeout": 45000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Correlation-Id",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1760,
        200
      ],
      "id": "de1ab0fd-54a3-49b8-a946-fe70d7c2a0d7",
      "name": "HTTP Weekly Insights",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown HTTP Weekly Insights error';\n\nconst metrics = $('Build Weekly Metrics').first()?.json || $('Handle Weekly Read Error').first()?.json || {};\n\nconst summary =\n  'Week ' + (metrics.week_start || '') + '\u2013' + (metrics.week_end || '') + ': ' +\n  (metrics.new_leads || 0) + ' new leads, ' +\n  (metrics.high_score_leads || 0) + ' high-score, ' +\n  (metrics.meetings_booked || 0) + ' meetings booked. Metrics-only summary (AI unavailable).';\n\nconst recommendations = [];\nif ((metrics.high_score_leads || 0) > (metrics.meetings_booked || 0)) {\n  recommendations.push('Follow up on high-score leads without bookings');\n}\nif ((metrics.review_pending || 0) > 0) {\n  recommendations.push('Clear pending manual reviews');\n}\n\nreturn {\n  executive_summary: summary,\n  key_trends: [],\n  recommendations,\n  anomalies: (metrics.error_count || 0) > 5 ? ['Elevated error count: ' + metrics.error_count] : [],\n  fallback_used: true,\n  weekly_ai_error_message: errorMessage,\n  _metadata: {\n    processing_stage: 'weekly_ai_failed',\n    severity: 'low',\n    error_message: errorMessage,\n    failed_node: 'HTTP Weekly Insights',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        400
      ],
      "id": "63216147-27b1-481c-9322-fe1f9b7d2a10",
      "name": "Handle Weekly AI Failure"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nfunction safeNodeJson(name) {\n  try {\n    return $(name).first()?.json;\n  } catch {\n    return undefined;\n  }\n}\n\nconst metrics = safeNodeJson('Build Weekly Metrics') || safeNodeJson('Handle Weekly Read Error') || {};\nconst aiOk = safeNodeJson('HTTP Weekly Insights');\nconst aiFail = safeNodeJson('Handle Weekly AI Failure');\n\nlet insights = aiOk;\nif (!insights || insights.executive_summary === undefined) {\n  insights = aiFail || {\n    executive_summary: 'AI insights unavailable',\n    key_trends: [],\n    recommendations: [],\n    anomalies: [],\n    fallback_used: true,\n  };\n}\n\nconst formatList = (items) => (items || []).map(i => '\u2022 ' + i).join('\\n') || '\u2014';\nconst formatWow = (delta) => {\n  if (delta === null || delta === undefined) return '';\n  const sign = delta > 0 ? '+' : '';\n  return ' (' + sign + delta + '% WoW)';\n};\n\nconst wow = metrics.wow_delta || {};\nconst sourceLines = Object.entries(metrics.leads_by_source || {})\n  .map(([k, v]) => '- ' + k + ': ' + v)\n  .join('\\n') || '\u2014';\n\nconst slackText =\n  '\ud83d\udcc8 CRM Weekly Summary (' + metrics.week_start + ' \u2013 ' + metrics.week_end + ')\\n\\n' +\n  'New leads: ' + metrics.new_leads + formatWow(wow.new_leads) + '\\n' +\n  'High score: ' + metrics.high_score_leads + formatWow(wow.high_score_leads) + '\\n' +\n  'Avg score: ' + metrics.avg_score + '\\n' +\n  'CRM sync rate: ' + metrics.crm_sync_rate + '\\n' +\n  'Meetings booked: ' + metrics.meetings_booked + ' (rate: ' + metrics.booking_rate + ')' + formatWow(wow.meetings_booked) + '\\n' +\n  'Slack sent: ' + metrics.slack_sent_count + '\\n' +\n  'Review pending / approved / rejected: ' + metrics.review_pending + ' / ' + metrics.review_approved + ' / ' + metrics.review_rejected + '\\n' +\n  'Errors: ' + metrics.error_count + '\\n\\n' +\n  'By source:\\n' + sourceLines + '\\n\\n' +\n  'Funnel: intake ' + (metrics.funnel?.intake || 0) +\n  ' \u2192 enriched ' + (metrics.funnel?.enriched || 0) +\n  ' \u2192 scored ' + (metrics.funnel?.scored || 0) +\n  ' \u2192 CRM ' + (metrics.funnel?.crm_synced || 0) +\n  ' \u2192 booked ' + (metrics.funnel?.booked || 0) + '\\n\\n' +\n  'AI Summary:\\n' + (insights.executive_summary || '\u2014') + '\\n\\n' +\n  'Key trends:\\n' + formatList(insights.key_trends) + '\\n\\n' +\n  'Recommendations:\\n' + formatList(insights.recommendations);\n\nreturn {\n  ...metrics,\n  executive_summary: insights.executive_summary || '',\n  key_trends: insights.key_trends || [],\n  recommendations: insights.recommendations || [],\n  anomalies: insights.anomalies || [],\n  fallback_used: insights.fallback_used === true,\n  ai_summary: insights.executive_summary || '',\n  slack_text: slackText,\n  _metadata: { processing_stage: 'weekly_report_merged' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        200
      ],
      "id": "0db87de7-068e-432b-ba14-91a99fa68289",
      "name": "Merge Weekly Report"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7a393ef7-f1e2-4668-98a7-cfe7958618be",
              "leftValue": "={{ $json.weekly_gate_passed }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2200,
        200
      ],
      "id": "f0df6ab3-589b-4cdb-b84d-53f29403b11e",
      "name": "Should Send Weekly?"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.SLACK_CHANNEL_ID || 'SLACK_CHANNEL_ID' }}"
        },
        "text": "={{ $json.slack_text }}"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2420,
        120
      ],
      "id": "d74b5d89-3220-4fcc-b6f0-d1cef14fb724",
      "name": "Slack Weekly Report",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput",
      "credentials": {
        "slackOAuth2Api": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst report = $input.item.json;\nreturn {\n  ...report,\n  slack_skipped: true,\n  _metadata: { processing_stage: 'weekly_slack_skipped_test_or_disabled' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        320
      ],
      "id": "1e6d8fda-dd75-4cba-aae7-d45a5c655d04",
      "name": "Skip Weekly Slack"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Slack Weekly Report error';\n\nfunction safeNodeJson(name) {\n  try {\n    return $(name).first()?.json;\n  } catch {\n    return undefined;\n  }\n}\n\nconst report = safeNodeJson('Merge Weekly Report') || safeNodeJson('Skip Weekly Slack') || {};\nreturn {\n  ...report,\n  error_type: 'slack_weekly_failed',\n  slack_error_message: errorMessage,\n  _metadata: { processing_stage: 'slack_weekly_error_handled', severity: 'low', error_message: errorMessage },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        240
      ],
      "id": "52a400a2-5489-42fd-a467-791a4a30a203",
      "name": "Log Slack Weekly Error"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nfunction safeNodeJson(name) {\n  try {\n    return $(name).first()?.json;\n  } catch {\n    return undefined;\n  }\n}\n\nconst report = safeNodeJson('Merge Weekly Report') || {};\nreturn {\n  ...report,\n  slack_sent: true,\n  _metadata: { processing_stage: 'weekly_slack_sent' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        40
      ],
      "id": "3ba336c6-6563-4b17-bdbf-cb591466c223",
      "name": "Restore Weekly Report After Slack"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "weekly_metrics"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "week_start": "={{ $json.week_start }}",
            "week_end": "={{ $json.week_end }}",
            "generated_at": "={{ $json.generated_at || new Date().toISOString() }}",
            "new_leads": "={{ $json.new_leads }}",
            "high_score_leads": "={{ $json.high_score_leads }}",
            "avg_score": "={{ $json.avg_score }}",
            "crm_sync_rate": "={{ $json.crm_sync_rate }}",
            "slack_sent_count": "={{ $json.slack_sent_count }}",
            "review_pending": "={{ $json.review_pending }}",
            "review_approved": "={{ $json.review_approved }}",
            "meetings_booked": "={{ $json.meetings_booked }}",
            "first_touch_sent": "={{ $json.first_touch_sent }}",
            "error_count": "={{ $json.error_count }}",
            "source_breakdown_json": "={{ $json.source_breakdown_json }}",
            "metrics_json": "={{ JSON.stringify($json.metrics_json || {}) }}",
            "ai_summary": "={{ $json.ai_summary }}",
            "fallback_used": "={{ $json.fallback_used }}",
            "correlation_id": "={{ $json.correlation_id }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2860,
        120
      ],
      "id": "8f5c5eac-ec56-4524-9a84-0db18a274b85",
      "name": "Append Weekly Metrics",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Append Weekly Metrics error';\n\nfunction safeNodeJson(name) {\n  try {\n    return $(name).first()?.json;\n  } catch {\n    return undefined;\n  }\n}\n\nconst report =\n  safeNodeJson('Restore Weekly Report After Slack') ||\n  safeNodeJson('Log Slack Weekly Error') ||\n  safeNodeJson('Skip Weekly Slack') ||\n  safeNodeJson('Merge Weekly Report') ||\n  {};\n\nreturn {\n  ...report,\n  weekly_metrics_append_failed: true,\n  sheets_error_message: errorMessage,\n  _metadata: {\n    processing_stage: 'weekly_metrics_append_failed',\n    severity: 'medium',\n    error_message: errorMessage,\n    failed_node: 'Append Weekly Metrics',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        280
      ],
      "id": "0732d9a4-2a7f-4b3c-8702-a17c3c573349",
      "name": "Handle Append Weekly Metrics Error"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3080,
        200
      ],
      "id": "031a0c2d-769b-4d7c-95c9-3aa50a74075e",
      "name": "Weekly Summary End"
    }
  ],
  "connections": {
    "Friday 5pm": {
      "main": [
        [
          {
            "node": "Read Leads For Weekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads For Weekly": {
      "main": [
        [
          {
            "node": "Read Errors For Weekly",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Weekly Read Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Errors For Weekly": {
      "main": [
        [
          {
            "node": "Read Prior Weekly Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Weekly Read Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Prior Weekly Metrics": {
      "main": [
        [
          {
            "node": "Read config_main",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Weekly Read Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read config_main": {
      "main": [
        [
          {
            "node": "Normalize config_main",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle config_main Read Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize config_main": {
      "main": [
        [
          {
            "node": "Read config_notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle config_main Read Error": {
      "main": [
        [
          {
            "node": "Read config_notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read config_notifications": {
      "main": [
        [
          {
            "node": "Normalize config_notifications",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle config_notifications Read Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize config_notifications": {
      "main": [
        [
          {
            "node": "Load Weekly Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle config_notifications Read Error": {
      "main": [
        [
          {
            "node": "Load Weekly Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Weekly Config": {
      "main": [
        [
          {
            "node": "Build Weekly Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Weekly Read Error": {
      "main": [
        [
          {
            "node": "HTTP Weekly Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Weekly Metrics": {
      "main": [
        [
          {
            "node": "HTTP Weekly Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Weekly Insights": {
      "main": [
        [
          {
            "node": "Merge Weekly Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Weekly AI Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Weekly AI Failure": {
      "main": [
        [
          {
            "node": "Merge Weekly Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Weekly Report": {
      "main": [
        [
          {
            "node": "Should Send Weekly?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Weekly?": {
      "main": [
        [
          {
            "node": "Slack Weekly Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Weekly Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Weekly Report": {
      "main": [
        [
          {
            "node": "Restore Weekly Report After Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Slack Weekly Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Weekly Report After Slack": {
      "main": [
        [
          {
            "node": "Append Weekly Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Slack Weekly Error": {
      "main": [
        [
          {
            "node": "Append Weekly Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Weekly Slack": {
      "main": [
        [
          {
            "node": "Append Weekly Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Weekly Metrics": {
      "main": [
        [
          {
            "node": "Weekly Summary End",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Append Weekly Metrics Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Append Weekly Metrics Error": {
      "main": [
        [
          {
            "node": "Weekly Summary End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "B2B Lead Error Handler"
  },
  "versionId": "0e247422-62ec-4751-aac5-83cd62505a2a",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "crm-workflow"
    }
  ]
}