workflows/B2B Lead Calendly Webhook.json
{
  "name": "B2B Lead Calendly Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calendly",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2240,
        288
      ],
      "id": "55eb5596-d99a-4206-aeb1-7bd7165814b3",
      "name": "Calendly Webhook",
      "webhookId": "f62f5ddc-c80a-4cfd-b774-981cb8859471"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst crypto = require('crypto');\n\nconst item = $input.item;\nconst json = item.json || {};\nconst headers = json.headers || {};\nconst body = json.body ?? json;\nconst signingKey = $env.CALENDLY_WEBHOOK_SIGNING_KEY || '';\n\nconst signatureHeader =\n  headers['calendly-webhook-signature'] ||\n  headers['Calendly-Webhook-Signature'] ||\n  '';\n\nconst rawBody =\n  json.rawBody ||\n  (typeof body === 'string' ? body : JSON.stringify(body));\n\nfunction verifySignature(key, header, payload) {\n  if (!key) return { valid: true, skipped: true, reason: 'verification_skipped' };\n  if (!header) return { valid: false, skipped: false, reason: 'missing_signature' };\n\n  const parts = {};\n  for (const part of header.split(',')) {\n    const eq = part.indexOf('=');\n    if (eq === -1) continue;\n    parts[part.slice(0, eq).trim()] = part.slice(eq + 1).trim();\n  }\n\n  const t = parts.t;\n  const v1 = parts.v1;\n  if (!t || !v1) return { valid: false, skipped: false, reason: 'malformed_signature' };\n\n  const signedPayload = `${t}.${payload}`;\n  const expected = crypto.createHmac('sha256', key).update(signedPayload).digest('hex');\n\n  let valid = false;\n  try {\n    valid =\n      v1.length === expected.length &&\n      crypto.timingSafeEqual(Buffer.from(v1), Buffer.from(expected));\n  } catch {\n    valid = false;\n  }\n\n  return {\n    valid,\n    skipped: false,\n    reason: valid ? 'ok' : 'invalid_signature',\n  };\n}\n\nconst result = verifySignature(signingKey, signatureHeader, rawBody);\nconst parsedBody = typeof body === 'string' ? JSON.parse(body) : body;\n\nreturn {\n  headers,\n  body: parsedBody,\n  rawBody,\n  signature_valid: result.valid,\n  signature_skipped: result.skipped || false,\n  signature_error: result.reason,\n  _metadata: {\n    processing_stage: result.valid ? 'calendly_signature_verified' : 'calendly_signature_failed',\n    severity: result.valid ? 'info' : 'medium',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2016,
        288
      ],
      "id": "64ff37da-7d57-4c33-81d1-689a91adc938",
      "name": "Verify Calendly Signature"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "834ebb1f-3674-48b8-9ffc-bb54db1fccd9",
              "leftValue": "={{ $json.signature_valid }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1792,
        288
      ],
      "id": "2a5d974f-2ff6-4c91-9f8a-bf830a75a788",
      "name": "Signature Valid?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "audit_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "calendly_signature_invalid",
            "new_value": "={{ $json.signature_error }}",
            "workflow": "B2B Lead Calendly Webhook",
            "timestamp": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "old_value",
              "displayName": "old_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "new_value",
              "displayName": "new_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1568,
        384
      ],
      "id": "35c7b85f-1794-4bdd-bd4a-b96e3581a751",
      "name": "Write Invalid Signature Audit",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": false, \"error\": $json.signature_error || \"invalid_signature\" } }}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1344,
        384
      ],
      "id": "3eb08f57-ff4f-44d9-89a8-f11586ad9a70",
      "name": "Respond 401"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const crypto = require('crypto');\nconst body = $input.item.json.body || $input.item.json;\nconst event = body.event || '';\nconst payload = body.payload || {};\nconst scheduledEvent = payload.scheduled_event || {};\nconst eventField = payload.event;\nconst invitee = payload.invitee || {};\n\nconst inviteeEmail = (\n  payload.email ||\n  invitee.email ||\n  ''\n).toLowerCase().trim();\n\nconst eventUri =\n  scheduledEvent.uri ||\n  (typeof eventField === 'string' ? eventField : eventField?.uri) ||\n  '';\n\nconst meetingTime = scheduledEvent.start_time || '';\n\nlet meetingStatus = 'not_booked';\nif (event === 'invitee.created') {\n  meetingStatus = 'booked';\n} else if (event === 'invitee.canceled') {\n  meetingStatus = 'canceled';\n}\n\nconst correlationId = crypto.randomUUID();\nconst now = new Date().toISOString();\n\nreturn {\n  calendly_event: event,\n  invitee_email: inviteeEmail,\n  calendly_event_uri: eventUri,\n  meeting_time: meetingTime,\n  meeting_status: meetingStatus,\n  calendly_invitee_email: inviteeEmail,\n  correlation_id: correlationId,\n  updated_at: now,\n  _metadata: { processing_stage: 'calendly_normalized' },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        192
      ],
      "id": "f6a729ad-188b-4432-aacd-91065f126b40",
      "name": "Normalize Calendly Payload"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "leads"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1344,
        192
      ],
      "id": "e7fc5a58-24db-4f79-9d43-ae83196783bd",
      "name": "Read All Leads",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst normalized = $('Normalize Calendly Payload').first()?.json ?? $input.item.json;\nconst existingRows = $('Read All Leads').all().map(r => r.json).filter(r => r.lead_id);\nconst email = (normalized.invitee_email || '').toLowerCase();\n\nconst lead = existingRows.find(r => (r.contact_email || '').toLowerCase() === email);\n\nlet meetingStatus = normalized.meeting_status;\nif (lead && normalized.calendly_event === 'invitee.created') {\n  const prev = (lead.meeting_status || '').toLowerCase();\n  if (\n    prev === 'booked' &&\n    lead.meeting_time &&\n    normalized.meeting_time &&\n    lead.meeting_time !== normalized.meeting_time\n  ) {\n    meetingStatus = 'rescheduled';\n  }\n}\n\nconst auditEventByStatus = {\n  booked: 'calendly_booked',\n  canceled: 'calendly_canceled',\n  rescheduled: 'calendly_rescheduled',\n};\n\nreturn {\n  ...normalized,\n  lead_found: !!lead,\n  lead_id: lead?.lead_id || '',\n  correlation_id: lead?.correlation_id || normalized.correlation_id,\n  contact_name: lead?.contact_name || '',\n  contact_email: lead?.contact_email || email,\n  company_name: lead?.company_name || '',\n  score: lead?.score || 0,\n  previous_meeting_status: lead?.meeting_status || '',\n  meeting_status: meetingStatus,\n  calendly_invitee_email: email,\n  audit_event: lead ? (auditEventByStatus[meetingStatus] || 'calendly_updated') : 'calendly_unmatched',\n  _metadata: {\n    processing_stage: lead ? 'calendly_lead_matched' : 'calendly_lead_not_found',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        96
      ],
      "id": "fa34f4cb-6b9a-4267-8cd0-eda68bde6e45",
      "name": "Match Lead By Email"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Read All Leads error';\n\nconst normalized = $('Normalize Calendly Payload').first()?.json ?? {};\n\nreturn {\n  ...normalized,\n  lead_found: false,\n  read_error_message: errorMessage,\n  audit_event: 'calendly_read_failed',\n  _metadata: {\n    processing_stage: 'calendly_read_failed',\n    severity: 'medium',\n    error_message: errorMessage,\n    failed_node: 'Read All Leads',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        480
      ],
      "id": "5b929690-4881-4d5f-9a81-98fb3199033e",
      "name": "Handle Calendly Read Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "54621af6-758b-4409-9c82-2f18057b3b48",
              "leftValue": "={{ $json.lead_found }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -896,
        96
      ],
      "id": "028e7b49-ce74-423c-8212-91333203ccee",
      "name": "Lead Found?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "meeting_status": "={{ $json.meeting_status }}",
            "meeting_time": "={{ $json.meeting_time }}",
            "calendly_invitee_email": "={{ $json.calendly_invitee_email }}",
            "updated_at": "={{ $json.updated_at }}",
            "row_number": 0
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_hash",
              "displayName": "lead_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_type",
              "displayName": "source_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_name",
              "displayName": "source_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_url",
              "displayName": "source_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_trust_level",
              "displayName": "source_trust_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_domain",
              "displayName": "company_domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "domain_type",
              "displayName": "domain_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_name",
              "displayName": "contact_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_role",
              "displayName": "contact_role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_email",
              "displayName": "contact_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content_summary",
              "displayName": "content_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "raw_content",
              "displayName": "raw_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_size",
              "displayName": "company_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "intent_signals",
              "displayName": "intent_signals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "enrichment_status",
              "displayName": "enrichment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "enrichment_summary",
              "displayName": "enrichment_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score_reasoning",
              "displayName": "score_reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "recommended_action",
              "displayName": "recommended_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "routing_decision",
              "displayName": "routing_decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fallback_used",
              "displayName": "fallback_used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sales_memo",
              "displayName": "sales_memo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sales_memo_status",
              "displayName": "sales_memo_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "crm_status",
              "displayName": "crm_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "crm_contact_id",
              "displayName": "crm_contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "crm_company_id",
              "displayName": "crm_company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notification_status",
              "displayName": "notification_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "review_status",
              "displayName": "review_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "review_notes",
              "displayName": "review_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reviewer",
              "displayName": "reviewer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reviewed_at",
              "displayName": "reviewed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "meeting_status",
              "displayName": "meeting_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "meeting_time",
              "displayName": "meeting_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "calendly_invitee_email",
              "displayName": "calendly_invitee_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processing_status",
              "displayName": "processing_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -672,
        48
      ],
      "id": "5d166c89-b8cb-47ca-9a79-cee524602db4",
      "name": "Update Lead Meeting",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Update Lead Meeting error';\n\nconst lead = $('Match Lead By Email').first()?.json ?? {};\n\nreturn {\n  ...lead,\n  sheets_update_failed: true,\n  sheets_error_message: errorMessage,\n  audit_event: 'calendly_update_failed',\n  _metadata: {\n    processing_stage: 'calendly_update_failed',\n    severity: 'high',\n    error_message: errorMessage,\n    failed_node: 'Update Lead Meeting',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        224
      ],
      "id": "58c2f32d-a9c1-4db3-9c13-dec8d340d648",
      "name": "Handle Update Meeting Error"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "error_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow": "B2B Lead Calendly Webhook",
            "execution_id": "={{ $execution.id }}",
            "node": "Update Lead Meeting",
            "message": "={{ $json.sheets_error_message }}",
            "correlation_id": "={{ $json.correlation_id }}",
            "retry_suggestion": "retry_sheets_update",
            "timestamp": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "node",
              "displayName": "node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stack",
              "displayName": "stack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retry_suggestion",
              "displayName": "retry_suggestion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        224
      ],
      "id": "0cda1368-795b-48cb-89d3-f93c55ae6f53",
      "name": "Write Calendly Update Error Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const lead = $('Match Lead By Email').first()?.json ?? $input.item.json;\nconst status = lead.meeting_status || 'updated';\nconst name = lead.contact_name || 'Unknown';\nconst email = lead.contact_email || lead.invitee_email || lead.calendly_invitee_email || '';\nconst when = lead.meeting_time || 'N/A';\nconst score = lead.score != null && lead.score !== '' ? lead.score : 'N/A';\n\nconst titles = {\n  booked: '\ud83d\udcc5 Meeting booked',\n  canceled: '\u274c Meeting canceled',\n  rescheduled: '\ud83d\udd04 Meeting rescheduled',\n};\nconst title = titles[status] || '\ud83d\udcc5 Calendly update';\n\nreturn {\n  ...lead,\n  slack_text: `${title}\\nLead: ${name} (${email})\\nScore: ${score}\\nTime: ${when}\\nStatus: ${status}\\nCorrelation: ${lead.correlation_id || 'N/A'}`,\n  _metadata: { processing_stage: 'calendly_slack_prepared' },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -48
      ],
      "id": "fffa4a64-0251-4be4-b23a-42d21e363dce",
      "name": "Build Calendly Slack Text"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.SLACK_CHANNEL_ID || 'SLACK_CHANNEL_ID' }}"
        },
        "text": "={{ $json.slack_text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        -224,
        -48
      ],
      "id": "7747f8da-cc30-430e-9f68-64f6fa66d05d",
      "name": "Slack Calendly Notify",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "webhookId": "7e4de959-5ee6-40f7-a5a2-641ebc9ba3e0",
      "credentials": {
        "slackOAuth2Api": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Slack Daily Report error';\n\nreturn {\n  error_type: 'slack_summary_failed',\n  slack_error_message: errorMessage,\n  _metadata: { processing_stage: 'slack_summary_error_handled', severity: 'low', error_message: errorMessage },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        80
      ],
      "id": "45334878-73b7-4d66-9240-9e363eaeba11",
      "name": "Log Calendly Slack Error"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "audit_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "correlation_id": "={{ $json.correlation_id }}",
            "event": "={{ $json.audit_event }}",
            "old_value": "={{ $json.previous_meeting_status || '' }}",
            "new_value": "={{ $json.meeting_status }}",
            "workflow": "B2B Lead Calendly Webhook",
            "timestamp": "={{ $json.updated_at || new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "old_value",
              "displayName": "old_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "new_value",
              "displayName": "new_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        448,
        48
      ],
      "id": "91c2ff16-d5d1-4cba-a35f-f4d0a2475296",
      "name": "Write Calendly Audit Log",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "audit_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "correlation_id": "={{ $json.correlation_id }}",
            "event": "={{ $json.audit_event || 'calendly_unmatched' }}",
            "new_value": "={{ $json.invitee_email || $json.calendly_invitee_email || '' }}",
            "workflow": "B2B Lead Calendly Webhook",
            "timestamp": "={{ $json.updated_at || new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "old_value",
              "displayName": "old_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "new_value",
              "displayName": "new_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -672,
        432
      ],
      "id": "6bc9221b-b7e7-4425-86f6-73034e5d7669",
      "name": "Write Unmatched Audit Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        672,
        272
      ],
      "id": "5d175479-1754-4ee2-b470-c3ef2253e802",
      "name": "Respond 200"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        896,
        272
      ],
      "id": "edf50073-a8e7-4798-9941-4d3d854fd9b5",
      "name": "Calendly Webhook End"
    },
    {
      "parameters": {
        "jsCode": "function safeNodeJson(name) {\n  try {\n    return $(name).first()?.json;\n  } catch {\n    return undefined;\n  }\n}\n\nconst matched = safeNodeJson('Match Lead By Email') ?? {};\nconst updateError = safeNodeJson('Handle Update Meeting Error');\n\nlet auditEvent = matched.audit_event || 'calendly_updated';\nif (updateError?.sheets_update_failed) {\n  auditEvent = updateError.audit_event || 'calendly_update_failed';\n}\n\nreturn {\n  lead_id: matched.lead_id || '',\n  correlation_id: matched.correlation_id || '',\n  audit_event: auditEvent,\n  previous_meeting_status: matched.previous_meeting_status || '',\n  meeting_status: matched.meeting_status || '',\n  updated_at: matched.updated_at || new Date().toISOString(),\n  _metadata: { processing_stage: 'calendly_audit_prepared' },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        48
      ],
      "id": "23089688-9c1e-4818-bb06-cfa6a576f0ad",
      "name": "Prepare Calendly Audit"
    }
  ],
  "connections": {
    "Calendly Webhook": {
      "main": [
        [
          {
            "node": "Verify Calendly Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Calendly Signature": {
      "main": [
        [
          {
            "node": "Signature Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signature Valid?": {
      "main": [
        [
          {
            "node": "Normalize Calendly Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write Invalid Signature Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Invalid Signature Audit": {
      "main": [
        [
          {
            "node": "Respond 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Calendly Payload": {
      "main": [
        [
          {
            "node": "Read All Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Leads": {
      "main": [
        [
          {
            "node": "Match Lead By Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Calendly Read Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Calendly Read Error": {
      "main": [
        [
          {
            "node": "Write Unmatched Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Lead By Email": {
      "main": [
        [
          {
            "node": "Lead Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Found?": {
      "main": [
        [
          {
            "node": "Update Lead Meeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write Unmatched Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Meeting": {
      "main": [
        [
          {
            "node": "Build Calendly Slack Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Update Meeting Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Update Meeting Error": {
      "main": [
        [
          {
            "node": "Write Calendly Update Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Calendly Update Error Log": {
      "main": [
        [
          {
            "node": "Prepare Calendly Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Calendly Slack Text": {
      "main": [
        [
          {
            "node": "Slack Calendly Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Calendly Notify": {
      "main": [
        [
          {
            "node": "Prepare Calendly Audit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Calendly Slack Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Calendly Slack Error": {
      "main": [
        [
          {
            "node": "Prepare Calendly Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Calendly Audit Log": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Unmatched Audit Log": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 200": {
      "main": [
        [
          {
            "node": "Calendly Webhook End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Calendly Audit": {
      "main": [
        [
          {
            "node": "Write Calendly Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "B2B Lead Error Handler",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e544833c-28dd-4e80-bfa7-35daac031799",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "0246fcb7b950ec568a04804ab3ef46da4265b1e24df662842521414c411e9d02"
  },
  "nodeGroups": [],
  "id": "u6DDkt1Gag7joueU",
  "tags": [
    {
      "updatedAt": "2026-07-01T02:31:24.969Z",
      "createdAt": "2026-07-01T02:31:24.969Z",
      "id": "tb551WiNlnAgjnHk",
      "name": "crm-workflow"
    }
  ]
}