workflows/B2B Lead Booking Follow-up.json
{
  "name": "B2B Lead Booking Follow-up",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ],
      "id": "34518f3f-4ebf-41c3-b95d-5ab38f0a24de",
      "name": "Daily 10am"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "leads"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        200
      ],
      "id": "1a4870c1-6862-4cbe-9f3a-8b202439f728",
      "name": "Read Leads For Reminder",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "config_main"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        200
      ],
      "id": "ef3cdacf-70f0-4ca0-abdd-7653d58ea9c6",
      "name": "Read config_main",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all().map(i => i.json).filter(r => r && !r.config_table);\nreturn {\n  config_table: 'config_main',\n  rows,\n  load_failed: false,\n  load_error_message: '',\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        360
      ],
      "id": "b3c81e09-4246-48ca-8f28-755cbaf945bc",
      "name": "Normalize config_main"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Read config_main error';\n\nreturn {\n  config_table: 'config_main',\n  rows: [],\n  load_failed: true,\n  load_error_message: errorMessage,\n  _metadata: {\n    processing_stage: 'config_main_read_failed',\n    severity: 'medium',\n    error_message: errorMessage,\n    error_description: errorObj.description || '',\n    failed_node: 'Read config_main',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        520
      ],
      "id": "f7381759-f699-4fef-9895-c3bcc7cb7a08",
      "name": "Handle config_main Read Error"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "config_notifications"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        660,
        200
      ],
      "id": "429da393-7c10-47ad-82af-033e87c1769a",
      "name": "Read config_notifications",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all().map(i => i.json).filter(r => r && !r.config_table);\nreturn {\n  config_table: 'config_notifications',\n  rows,\n  load_failed: false,\n  load_error_message: '',\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        360
      ],
      "id": "4fcaa12c-a3cf-4d06-b35b-79777cd88c4d",
      "name": "Normalize config_notifications"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Read config_notifications error';\n\nreturn {\n  config_table: 'config_notifications',\n  rows: [],\n  load_failed: true,\n  load_error_message: errorMessage,\n  _metadata: {\n    processing_stage: 'config_notifications_read_failed',\n    severity: 'medium',\n    error_message: errorMessage,\n    error_description: errorObj.description || '',\n    failed_node: 'Read config_notifications',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        520
      ],
      "id": "df78317f-6422-4a23-a1a1-249696ed3bf5",
      "name": "Handle config_notifications Read Error"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nfunction safeNodeJson(name) {\n  try {\n    return $(name).first()?.json;\n  } catch {\n    return undefined;\n  }\n}\n\nfunction loadWrapper(normalizeName, handleName, table) {\n  const ok = safeNodeJson(normalizeName);\n  if (ok) return ok;\n  const err = safeNodeJson(handleName);\n  if (err) return err;\n  return {\n    config_table: table,\n    rows: [],\n    load_failed: true,\n    load_error_message: 'Config wrapper not executed',\n  };\n}\n\nconst mainWrap = loadWrapper('Normalize config_main', 'Handle config_main Read Error', 'config_main');\nconst notificationWrap = loadWrapper(\n  'Normalize config_notifications',\n  'Handle config_notifications Read Error',\n  'config_notifications',\n);\n\nconst mainRows = (mainWrap.rows || []).filter(r => r.key);\nconst notificationRows = (notificationWrap.rows || []).filter(r => r.event_type);\n\nconst kv = {};\nfor (const row of mainRows) {\n  if (row.key) kv[row.key] = row.value;\n}\n\nconst bookingRule =\n  notificationRows.find(r => r.event_type === 'booking_reminder') || {};\nconst reminderEnabled =\n  bookingRule.enabled === true || bookingRule.enabled === 'true';\n\nconst failedTables = [mainWrap, notificationWrap]\n  .filter(w => w.load_failed)\n  .map(w => w.config_table);\n\nreturn {\n  mode: (kv.mode || 'test').toLowerCase(),\n  score_threshold_high: parseInt(kv.score_threshold_high || '80', 10),\n  booking_reminder_hours: parseInt(kv.booking_reminder_hours || '24', 10),\n  calendly_url: kv.calendly_url || '',\n  booking_reminder_enabled: reminderEnabled,\n  booking_reminder_channels: String(bookingRule.channels || 'slack')\n    .split(',')\n    .map(s => s.trim())\n    .filter(Boolean),\n  booking_reminder_template_key: bookingRule.template_key || 'booking',\n  config_load_failed: failedTables.length > 0,\n  failed_tables: failedTables.join(','),\n  _metadata: {\n    processing_stage: failedTables.length\n      ? 'booking_reminder_config_degraded'\n      : 'booking_reminder_config_loaded',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        200
      ],
      "id": "dfe67294-f22a-47e8-ab4f-49365969bac1",
      "name": "Load Booking Config"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Read Leads For Reminder error';\n\nreturn {\n  read_failed: true,\n  read_error_message: errorMessage,\n  due_count: 0,\n  has_due_reminders: false,\n  _metadata: {\n    processing_stage: 'booking_reminder_read_failed',\n    severity: 'medium',\n    error_message: errorMessage,\n    failed_node: 'Read Leads For Reminder',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        400
      ],
      "id": "a54b8cdf-409e-4ef7-8b4c-9cb9502277cb",
      "name": "Handle Booking Read Error"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst leads = $('Read Leads For Reminder')\n  .all()\n  .map(i => i.json)\n  .filter(r => r.lead_id);\nconst config = $('Load Booking Config').first()?.json ?? {};\n\nconst scoreMin = Number(config.score_threshold_high || 80);\nconst hours = Number(config.booking_reminder_hours || 24);\nconst cutoff = Date.now() - hours * 60 * 60 * 1000;\n\nfunction reminderAlreadySent(value) {\n  if (value === true || value === 'true' || value === 'TRUE' || value === '1') return true;\n  return false;\n}\n\nconst dueLeads = leads.filter(l => {\n  const score = Number(l.score || 0);\n  if (score < scoreMin) return false;\n  const status = String(l.meeting_status || '').toLowerCase();\n  if (status !== 'not_booked') return false;\n  if (reminderAlreadySent(l.booking_reminder_sent)) return false;\n  const created = Date.parse(l.created_at || '');\n  if (!created || Number.isNaN(created) || created > cutoff) return false;\n  return true;\n});\n\nreturn {\n  ...config,\n  due_leads: dueLeads,\n  due_count: dueLeads.length,\n  has_due_reminders: dueLeads.length > 0,\n  _metadata: { processing_stage: 'booking_reminders_filtered' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ],
      "id": "bfce701c-fb1a-40be-9fd8-1b6b928008df",
      "name": "Filter Due Booking Reminders"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c399cb4-fcc3-4f72-b439-51ae6f151c02",
              "leftValue": "={{ $json.has_due_reminders }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1320,
        200
      ],
      "id": "c8dd537b-3a55-405d-af14-449a08954ddb",
      "name": "Has Due Reminders?"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst filtered = $('Filter Due Booking Reminders').first()?.json ?? {};\nconst dueLeads = filtered.due_leads || [];\n\nreturn dueLeads.map(lead => ({\n  json: {\n    ...lead,\n    mode: filtered.mode,\n    calendly_url: filtered.calendly_url,\n    booking_reminder_enabled: filtered.booking_reminder_enabled,\n    booking_reminder_channels: filtered.booking_reminder_channels,\n    booking_reminder_template_key: filtered.booking_reminder_template_key,\n    score_threshold_high: filtered.score_threshold_high,\n    booking_reminder_hours: filtered.booking_reminder_hours,\n  },\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        120
      ],
      "id": "83f736bb-195f-48f1-b3c0-d13738c15a2c",
      "name": "Expand Due Leads"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst item = $input.item.json;\nconst mode = String(item.mode || 'test').toLowerCase();\nconst channels = item.booking_reminder_channels || ['slack'];\nconst enabled = item.booking_reminder_enabled === true || item.booking_reminder_enabled === 'true';\nconst gatePassed = mode === 'production' && enabled && channels.includes('slack');\n\nconst name = item.contact_name || 'Unknown';\nconst email = item.contact_email || '';\nconst score = item.score != null && item.score !== '' ? item.score : 'N/A';\nconst createdAt = item.created_at || 'N/A';\nconst calendlyUrl = item.calendly_url || '';\nconst bookLine = calendlyUrl ? `Book: ${calendlyUrl}` : 'Book: (no Calendly URL configured)';\n\nreturn {\n  ...item,\n  reminder_gate_passed: gatePassed,\n  slack_text: [\n    '\u23f0 Booking reminder \u2014 high-score lead has not booked',\n    `Lead: ${name} (${email})`,\n    `Score: ${score}`,\n    `Created: ${createdAt}`,\n    bookLine,\n    `Correlation: ${item.correlation_id || 'N/A'}`,\n  ].join('\\n'),\n  _metadata: { processing_stage: 'booking_reminder_prepared' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        120
      ],
      "id": "cfe59cab-9e00-41b5-a6ea-150388648cd4",
      "name": "Build Booking Reminder Text"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b0728383-eec6-42f1-8df0-aba1fd7858d3",
              "leftValue": "={{ $json.reminder_gate_passed }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1980,
        120
      ],
      "id": "c5ed6a75-6b6a-444a-a99c-717a37bae224",
      "name": "Should Send Reminder?"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.SLACK_CHANNEL_ID || 'SLACK_CHANNEL_ID' }}"
        },
        "text": "={{ $json.slack_text }}"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2200,
        0
      ],
      "id": "67eef297-335a-41fc-8fcd-e87b8d796e0e",
      "name": "Slack Booking Reminder",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput",
      "credentials": {
        "slackOAuth2Api": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst lead = $('Build Booking Reminder Text').item.json;\nconst now = new Date().toISOString();\nreturn {\n  ...lead,\n  booking_reminder_sent: true,\n  booking_reminder_at: now,\n  reminder_status: 'sent',\n  updated_at: now,\n  _metadata: { processing_stage: 'booking_reminder_sent' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        0
      ],
      "id": "815b9471-b077-4b69-8ed9-b89172113e1e",
      "name": "Mark Reminder Sent"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst lead = $('Build Booking Reminder Text').item.json;\nconst mode = String(lead.mode || 'test').toLowerCase();\nconst enabled = lead.booking_reminder_enabled === true || lead.booking_reminder_enabled === 'true';\nlet skipReason = 'disabled';\nif (!enabled) skipReason = 'disabled';\nelse if (mode !== 'production') skipReason = 'test_mode';\nelse skipReason = 'channel_not_slack';\n\nreturn {\n  ...lead,\n  reminder_status: skipReason === 'test_mode' ? 'skipped_test_mode' : 'skipped_disabled',\n  skip_reason: skipReason,\n  _metadata: { processing_stage: 'booking_reminder_skipped' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        240
      ],
      "id": "868c11d6-bfe0-4339-9b36-06d51a9e7df6",
      "name": "Skip Reminder"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Slack Booking Reminder error';\n\nconst lead = $('Build Booking Reminder Text').item.json;\nreturn {\n  ...lead,\n  reminder_status: 'failed',\n  slack_error_message: errorMessage,\n  _metadata: {\n    processing_stage: 'booking_reminder_slack_failed',\n    severity: 'low',\n    error_message: errorMessage,\n    failed_node: 'Slack Booking Reminder',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        160
      ],
      "id": "b9a91c91-ee26-40aa-9853-0c7a6b034d63",
      "name": "Log Slack Reminder Error"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst item = $input.item.json;\nconst status = item.reminder_status || 'unknown';\nconst auditByStatus = {\n  sent: 'booking_reminder',\n  failed: 'booking_reminder_failed',\n  skipped_test_mode: 'booking_reminder_skipped_test',\n  skipped_disabled: 'booking_reminder_disabled',\n};\nreturn {\n  lead_id: item.lead_id || '',\n  correlation_id: item.correlation_id || '',\n  audit_event: auditByStatus[status] || 'booking_reminder_unknown',\n  reminder_status: status,\n  booking_reminder_sent: item.booking_reminder_sent === true,\n  booking_reminder_at: item.booking_reminder_at || '',\n  slack_error_message: item.slack_error_message || '',\n  skip_reason: item.skip_reason || '',\n  updated_at: item.updated_at || new Date().toISOString(),\n  _metadata: { processing_stage: 'booking_reminder_audit_prepared' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        120
      ],
      "id": "858e0cfa-f18a-4814-a790-08fcc560b81f",
      "name": "Prepare Booking Reminder Audit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "845dd8a5-b470-4953-8a01-fdc3cd8b42c4",
              "leftValue": "={{ $json.booking_reminder_sent }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2860,
        120
      ],
      "id": "ccdc6a2b-e12e-49ba-8fc0-377184a1d408",
      "name": "Should Update Lead?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "booking_reminder_sent": "={{ true }}",
            "booking_reminder_at": "={{ $json.booking_reminder_at }}",
            "updated_at": "={{ $json.updated_at }}"
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "booking_reminder_sent",
              "displayName": "booking_reminder_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "booking_reminder_at",
              "displayName": "booking_reminder_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3080,
        0
      ],
      "id": "492405e0-409b-4f67-940a-62441f9d14ff",
      "name": "Update Lead Reminder Status",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Update Lead Reminder Status error';\n\nconst audit = $('Prepare Booking Reminder Audit').item.json;\nreturn {\n  ...audit,\n  sheets_update_failed: true,\n  sheets_error_message: errorMessage,\n  audit_event: 'booking_reminder_update_failed',\n  _metadata: {\n    processing_stage: 'booking_reminder_update_failed',\n    severity: 'high',\n    error_message: errorMessage,\n    failed_node: 'Update Lead Reminder Status',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        0
      ],
      "id": "c9adce7b-26f5-4f1d-9183-2f1186f3f2aa",
      "name": "Handle Update Reminder Error"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "audit_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "correlation_id": "={{ $json.correlation_id }}",
            "event": "={{ $json.audit_event }}",
            "new_value": "={{ $json.reminder_status }}",
            "workflow": "B2B Lead Booking Follow-up",
            "timestamp": "={{ $json.updated_at || new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "new_value",
              "displayName": "new_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3300,
        200
      ],
      "id": "1aa57673-ab7f-49e2-902e-380e582e0b01",
      "name": "Write Booking Reminder Audit",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "error_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow": "B2B Lead Booking Follow-up",
            "execution_id": "={{ $execution.id }}",
            "node": "Read Leads For Reminder",
            "message": "={{ $json.read_error_message }}",
            "stack": "",
            "correlation_id": "",
            "retry_suggestion": "retry_sheets_read",
            "timestamp": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "node",
              "displayName": "node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stack",
              "displayName": "stack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "retry_suggestion",
              "displayName": "retry_suggestion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        400
      ],
      "id": "9d964d37-4593-47cf-aae9-2b8d2aa1d682",
      "name": "Write Reminder Read Error Log",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3520,
        200
      ],
      "id": "5044b020-e7fc-45c2-9718-dd2fe65faa7f",
      "name": "Booking Follow-up End"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1540,
        320
      ],
      "id": "3c03ce81-1403-48f4-b041-82bded0b6d87",
      "name": "No Due Reminders End"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        660,
        400
      ],
      "id": "9d9dc469-8090-4f54-8b2b-e07cbe037488",
      "name": "Booking Follow-up Failed End"
    }
  ],
  "connections": {
    "Daily 10am": {
      "main": [
        [
          {
            "node": "Read Leads For Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads For Reminder": {
      "main": [
        [
          {
            "node": "Read config_main",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Booking Read Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read config_main": {
      "main": [
        [
          {
            "node": "Normalize config_main",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle config_main Read Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize config_main": {
      "main": [
        [
          {
            "node": "Read config_notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle config_main Read Error": {
      "main": [
        [
          {
            "node": "Read config_notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read config_notifications": {
      "main": [
        [
          {
            "node": "Normalize config_notifications",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle config_notifications Read Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize config_notifications": {
      "main": [
        [
          {
            "node": "Load Booking Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle config_notifications Read Error": {
      "main": [
        [
          {
            "node": "Load Booking Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Booking Config": {
      "main": [
        [
          {
            "node": "Filter Due Booking Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Due Booking Reminders": {
      "main": [
        [
          {
            "node": "Has Due Reminders?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Due Reminders?": {
      "main": [
        [
          {
            "node": "Expand Due Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Due Reminders End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Due Leads": {
      "main": [
        [
          {
            "node": "Build Booking Reminder Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Booking Reminder Text": {
      "main": [
        [
          {
            "node": "Should Send Reminder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Reminder?": {
      "main": [
        [
          {
            "node": "Slack Booking Reminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Booking Reminder": {
      "main": [
        [
          {
            "node": "Mark Reminder Sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Slack Reminder Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Reminder Sent": {
      "main": [
        [
          {
            "node": "Prepare Booking Reminder Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Reminder": {
      "main": [
        [
          {
            "node": "Prepare Booking Reminder Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Slack Reminder Error": {
      "main": [
        [
          {
            "node": "Prepare Booking Reminder Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Booking Reminder Audit": {
      "main": [
        [
          {
            "node": "Should Update Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Update Lead?": {
      "main": [
        [
          {
            "node": "Update Lead Reminder Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write Booking Reminder Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Reminder Status": {
      "main": [
        [
          {
            "node": "Write Booking Reminder Audit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Update Reminder Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Update Reminder Error": {
      "main": [
        [
          {
            "node": "Write Booking Reminder Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Booking Reminder Audit": {
      "main": [
        [
          {
            "node": "Booking Follow-up End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Due Reminders End": {
      "main": [
        [
          {
            "node": "Booking Follow-up End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Booking Read Error": {
      "main": [
        [
          {
            "node": "Write Reminder Read Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Reminder Read Error Log": {
      "main": [
        [
          {
            "node": "Booking Follow-up Failed End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "B2B Lead Error Handler"
  },
  "versionId": "39825144-e642-4628-80ae-1ad449efe131",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "crm-workflow"
    }
  ]
}