workflows/B2B Lead Intake.json
{
  "name": "B2B Lead Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tally-lead",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -80
      ],
      "id": "ab3cfede-5c39-48a8-a91c-4dd38ec1fced",
      "name": "Tally Webhook",
      "webhookId": "79171af6-5c7a-4423-8527-9d4bf8b01cd8"
    },
    {
      "parameters": {
        "path": "google-forms-lead",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        448,
        208
      ],
      "id": "ccf26559-5447-4d26-b9eb-5482cde5d949",
      "name": "Google Forms Webhook",
      "webhookId": "15d777aa-e684-4f8e-8e89-5a4966382170"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst body = $input.item.json.body || $input.item.json;\nconst data = body.data || body;\nconst fields = data.fields || [];\nconst fieldMap = {};\nfor (const f of fields) {\n  const key = (f.label || f.key || '').toLowerCase().replace(/\\s+/g, '_');\n  fieldMap[key] = f.value;\n}\nconst getField = (...keys) => {\n  for (const k of keys) {\n    if (fieldMap[k]) return fieldMap[k];\n  }\n  return '';\n};\nconst now = new Date().toISOString();\nreturn {\n  source_type: 'tally',\n  source_name: data.formName || 'Tally Form',\n  source_url: data.formId ? ('https://tally.so/r/' + data.formId) : '',\n  source_trust_level: 80,\n  contact_name: getField('name', 'contact_name', 'full_name'),\n  contact_email: getField('email', 'contact_email').toLowerCase().trim(),\n  contact_role: getField('role', 'contact_role', 'job_title'),\n  company_name: getField('company', 'company_name'),\n  raw_content: getField('message', 'details', 'project_description', 'how_can_we_help?'),\n  processing_status: 'intake',\n  created_at: now,\n  updated_at: now,\n  _metadata: { processing_stage: 'normalized_tally' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        16
      ],
      "id": "dae769b4-fd74-4264-8942-c15e3477c3c6",
      "name": "Normalize Tally Payload"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst body = $input.item.json.body || $input.item.json;\nconst now = new Date().toISOString();\nreturn {\n  source_type: 'google_forms',\n  source_name: body.formName || 'Google Form',\n  source_url: body.formUrl || body.source_url || '',\n  source_trust_level: 70,\n  contact_name: body.name || body.contact_name || '',\n  contact_email: (body.email || body.contact_email || '').toLowerCase().trim(),\n  contact_role: body.role || body.contact_role || '',\n  company_name: body.company || body.company_name || '',\n  raw_content: body.message || body.raw_content || JSON.stringify(body),\n  processing_status: 'intake',\n  created_at: now,\n  updated_at: now,\n  _metadata: { processing_stage: 'normalized_google_forms' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        208
      ],
      "id": "3f1ae8eb-eb5a-4877-8529-91e5c08cb391",
      "name": "Normalize Google Forms Payload"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const crypto = require('crypto');\nconst item = $input.item.json;\nconst email = (item.contact_email || '').toLowerCase().trim();\nconst domain = (item.company_domain || (email.includes('@') ? email.split('@')[1] : '')).toLowerCase().trim();\nconst hashInput = `${email}|${domain}`;\nconst lead_hash = crypto.createHash('sha256').update(hashInput).digest('hex').slice(0, 16);\nreturn {\n  ...item,\n  lead_id: crypto.randomUUID(),\n  correlation_id: crypto.randomUUID(),\n  lead_hash,\n  company_domain: domain,\n  updated_at: new Date().toISOString(),\n  _metadata: { processing_stage: 'ids_generated' },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        112
      ],
      "id": "2430f5fc-ee29-4a79-ac11-94f3d4272b63",
      "name": "Generate Lead IDs"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst item = $input.item.json;\nconst email = item.contact_email || '';\nconst emailOk = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\nif (!emailOk) {\n  return {\n    ...item,\n    validation_passed: false,\n    validation_error: 'invalid_email',\n    _metadata: { processing_stage: 'validation_failed', severity: 'low' },\n  };\n}\nreturn {\n  ...item,\n  validation_passed: true,\n  _metadata: { processing_stage: 'validation_passed' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        112
      ],
      "id": "f3a08d72-9168-4c57-864d-e184df20cf1b",
      "name": "Validate Lead"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "643e333a-2a51-4614-863e-87945bf5ee32",
              "leftValue": "={{ $json.validation_passed }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1344,
        112
      ],
      "id": "783156d1-669b-482c-b83d-bd7bb9dde254",
      "name": "Validation Passed?"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "leads",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1568,
        16
      ],
      "id": "b5e85f3b-c5ca-44e0-b2da-4b3c5a3f32c3",
      "name": "Read All Leads",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Read All Leads error';\n\nconst lead = $('Validate Lead').item.json;\n\nreturn {\n  ...lead,\n  is_update: false,\n  _dedup_skipped: true,\n  read_error_message: errorMessage,\n  _metadata: {\n    processing_stage: 'dedup_read_failed',\n    severity: 'medium',\n    error_message: errorMessage,\n    error_description: errorObj.description || '',\n    failed_node: 'Read All Leads',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        112
      ],
      "id": "bdb3721e-695f-4a8a-bfbd-d3ccd287319d",
      "name": "Handle Read Leads Error"
    },
    {
      "parameters": {
        "jsCode": "const item = $('Validate Lead').item.json;\nconst existingRows = $('Read All Leads').all().map(r => r.json);\nconst findMatch = (rows, predicate) => rows.find(predicate);\n\nlet existing = null;\nlet dedupMatchKey = '';\n\nif (item.contact_email) {\n  const email = item.contact_email.toLowerCase().trim();\n  existing = findMatch(\n    existingRows,\n    (row) => (row.contact_email || '').toLowerCase().trim() === email,\n  );\n  if (existing) dedupMatchKey = 'contact_email';\n}\n\nif (!existing && item.lead_hash) {\n  existing = findMatch(existingRows, (row) => row.lead_hash === item.lead_hash);\n  if (existing) dedupMatchKey = 'lead_hash';\n}\n\nif (existing && existing.lead_id) {\n  return {\n    ...item,\n    lead_id: existing.lead_id,\n    correlation_id: item.correlation_id,\n    is_update: true,\n    dedup_match_key: dedupMatchKey,\n    updated_at: new Date().toISOString(),\n    _metadata: { processing_stage: 'dedup_update', dedup_match_key: dedupMatchKey },\n  };\n}\n\nreturn {\n  ...item,\n  is_update: false,\n  dedup_match_key: '',\n  _metadata: { processing_stage: 'dedup_insert' },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        -80
      ],
      "id": "a61d4c1d-1203-44fd-a205-0de74b92d5b7",
      "name": "Dedup Lead"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b96a7753-d568-4341-8a18-4a99a5d4afdd",
              "leftValue": "={{ $json.is_update }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2016,
        16
      ],
      "id": "12874534-9dab-4c7a-ba72-a2ea9ac33401",
      "name": "Is Update?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "correlation_id": "={{ $json.correlation_id }}",
            "lead_hash": "={{ $json.lead_hash }}",
            "source_type": "={{ $json.source_type }}",
            "source_name": "={{ $json.source_name }}",
            "source_url": "={{ $json.source_url }}",
            "source_trust_level": "={{ $json.source_trust_level }}",
            "company_name": "={{ $json.company_name }}",
            "company_domain": "={{ $json.company_domain }}",
            "contact_name": "={{ $json.contact_name }}",
            "contact_role": "={{ $json.contact_role }}",
            "contact_email": "={{ $json.contact_email }}",
            "raw_content": "={{ $json.raw_content }}",
            "processing_status": "={{ $json.processing_status }}",
            "updated_at": "={{ $json.updated_at }}",
            "row_number": 0
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_hash",
              "displayName": "lead_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_type",
              "displayName": "source_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_name",
              "displayName": "source_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_url",
              "displayName": "source_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_trust_level",
              "displayName": "source_trust_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_domain",
              "displayName": "company_domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "domain_type",
              "displayName": "domain_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_name",
              "displayName": "contact_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_role",
              "displayName": "contact_role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_email",
              "displayName": "contact_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content_summary",
              "displayName": "content_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "raw_content",
              "displayName": "raw_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_size",
              "displayName": "company_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "intent_signals",
              "displayName": "intent_signals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "enrichment_status",
              "displayName": "enrichment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "enrichment_summary",
              "displayName": "enrichment_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score_reasoning",
              "displayName": "score_reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "recommended_action",
              "displayName": "recommended_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "routing_decision",
              "displayName": "routing_decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fallback_used",
              "displayName": "fallback_used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "crm_status",
              "displayName": "crm_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "crm_contact_id",
              "displayName": "crm_contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "crm_company_id",
              "displayName": "crm_company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notification_status",
              "displayName": "notification_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "review_status",
              "displayName": "review_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "review_notes",
              "displayName": "review_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reviewer",
              "displayName": "reviewer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reviewed_at",
              "displayName": "reviewed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processing_status",
              "displayName": "processing_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2240,
        -96
      ],
      "id": "d2313d5e-88bc-4229-a7f6-09a9f1daf5d7",
      "name": "Update Lead",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\n\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Update Lead error';\n\nconst lead =\n  $('Dedup Lead').first()?.json ??\n  $('Validate Lead').first()?.json;\n\nreturn {\n  ...lead,\n  sheets_write_failed: true,\n  processing_status: 'failed',\n  sheets_error_message: errorMessage,\n  _metadata: {\n    processing_stage: 'update_lead_failed',\n    severity: 'high',\n    error_message: errorMessage,\n    error_description: errorObj.description || '',\n    failed_node: 'Update Lead',\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        -176
      ],
      "id": "89bf6847-ab32-409f-ad04-46a27a730b53",
      "name": "Handle Update Lead Error"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ctYQxdFPeRgo6mC8T3ru_O0GP9dXgocpUZi2yPOBokw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "correlation_id": "={{ $json.correlation_id }}",
            "lead_hash": "={{ $json.lead_hash }}",
            "source_type": "={{ $json.source_type }}",
            "source_name": "={{ $json.source_name }}",
            "source_url": "={{ $json.source_url }}",
            "source_trust_level": "={{ $json.source_trust_level }}",
            "company_name": "={{ $json.company_name }}",
            "company_domain": "={{ $json.company_domain }}",
            "contact_name": "={{ $json.contact_name }}",
            "contact_email": "={{ $json.contact_email }}",
            "contact_role": "={{ $json.contact_role }}",
            "raw_content": "={{ $json.raw_content }}",
            "processing_status": "={{ $json.processing_status }}",
            "created_at": "={{ $json.created_at }}",
            "updated_at": "={{ $json.updated_at }}",
            "meeting_status": "not_booked"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_hash",
              "displayName": "lead_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_type",
              "displayName": "source_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_name",
              "displayName": "source_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_url",
              "displayName": "source_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_trust_level",
              "displayName": "source_trust_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_domain",
              "displayName": "company_domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "domain_type",
              "displayName": "domain_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_name",
              "displayName": "contact_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_role",
              "displayName": "contact_role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_email",
              "displayName": "contact_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content_summary",
              "displayName": "content_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "raw_content",
              "displayName": "raw_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_size",
              "displayName": "company_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "intent_signals",
              "displayName": "intent_signals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "enrichment_status",
              "displayName": "enrichment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "enrichment_summary",
              "displayName": "enrichment_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score_reasoning",
              "displayName": "score_reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "recommended_action",
              "displayName": "recommended_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "routing_decision",
              "displayName": "routing_decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fallback_used",
              "displayName": "fallback_used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sales_memo",
              "displayName": "sales_memo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sales_memo_status",
              "displayName": "sales_memo_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "crm_status",
              "displayName": "crm_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "crm_contact_id",
              "displayName": "crm_contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "crm_company_id",
              "displayName": "crm_company_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notification_status",
              "displayName": "notification_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "review_status",
              "displayName": "review_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "review_notes",
              "displayName": "review_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reviewer",
              "displayName": "reviewer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reviewed_at",
              "displayName": "reviewed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "meeting_status",
              "displayName": "meeting_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "meeting_time",
              "displayName": "meeting_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "calendly_invitee_email",
              "displayName": "calendly_invitee_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processing_status",
              "displayName": "processing_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2240,
        144
      ],
      "id": "e49b107b-59a4-46e0-a811-b97662cbbf90",
      "name": "Append Lead",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Append Lead error';\n\nconst lead =\n  $('Dedup Lead').first()?.json ??\n  $('Handle Read Leads Error').first()?.json ??\n  $('Validate Lead').first()?.json;\n\nreturn {\n  ...lead,\n  sheets_write_failed: true,\n  processing_status: 'failed',\n  sheets_error_message: errorMessage,\n  _metadata: {\n    processing_stage: 'append_lead_failed',\n    severity: 'high',\n    error_message: errorMessage,\n    error_description: errorObj.description || '',\n    failed_node: 'Append Lead',\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        208
      ],
      "id": "929aa972-6913-4421-a074-e8e22be31694",
      "name": "Handle Append Lead Error"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "audit_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "correlation_id": "={{ $json.correlation_id }}",
            "event": "={{ ($json.is_update === true || $json.is_update === 'true') ? 'lead_updated' : (($json.is_update === false || $json.is_update === 'false') ? 'lead_created' : ($json.created_at ? 'lead_created' : 'lead_updated')) }}",
            "new_value": "={{ $json.processing_status }}",
            "workflow": "B2B Lead Intake",
            "timestamp": "={{ $json.updated_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "old_value",
              "displayName": "old_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "new_value",
              "displayName": "new_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2912,
        16
      ],
      "id": "b7767c6e-949a-4112-8bce-0d85c6977b3a",
      "name": "Write Audit Log",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst auditErrorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Write Audit Log error';\n\nconst lead = $('Normalize Lead').first()?.json\n\nreturn {\n  ...lead,\n  audit_log_failed: true,\n  audit_log_error_message: auditErrorMessage,\n  _metadata: {\n    ...(lead._metadata || {}),\n    processing_stage: 'audit_log_failed',\n    severity: 'low',\n    error_message: auditErrorMessage,\n    failed_node: 'Write Audit Log',\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        96
      ],
      "id": "26e5e858-411d-4439-b2be-4400e121e986",
      "name": "Handle Audit Log Error"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function safeNodeJson(name) {\n  try {\n    return $(name).first()?.json;\n  } catch {\n    return undefined;\n  }\n}\n\nconst dedup =\n  safeNodeJson('Dedup Lead') ??\n  safeNodeJson('Handle Read Leads Error') ??\n  {};\n\nconst updateErr = safeNodeJson('Handle Update Lead Error');\nconst appendErr = safeNodeJson('Handle Append Lead Error');\nconst auditErr = safeNodeJson('Handle Audit Log Error');\n\nconst sheetErr =\n  updateErr?.sheets_write_failed ? updateErr :\n  appendErr?.sheets_write_failed ? appendErr :\n  null;\n\nconst email = (dedup.contact_email ?? '').toLowerCase().trim();\nlet company_domain = dedup.company_domain ?? '';\nif (!company_domain && email.includes('@')) {\n  company_domain = email.split('@')[1].toLowerCase();\n}\n\nconst payload = {\n  lead_id: dedup.lead_id,\n  correlation_id: dedup.correlation_id,\n  source_type: dedup.source_type ?? '',\n  source_name: dedup.source_name ?? '',\n  source_trust_level: Number(dedup.source_trust_level ?? 0),\n  contact_name: dedup.contact_name ?? '',\n  contact_email: email,\n  contact_role: dedup.contact_role ?? '',\n  company_name: dedup.company_name ?? '',\n  company_domain,\n  raw_content: dedup.raw_content ?? '',\n};\n\nif (sheetErr) {\n  payload.sheets_write_failed = true;\n  payload.sheets_error_message = sheetErr.sheets_error_message ?? '';\n}\n\nif (dedup._dedup_skipped) {\n  payload.dedup_skipped = true;\n  payload.read_error_message = dedup.read_error_message ?? '';\n}\n\nif (auditErr?.audit_log_failed) {\n  payload.audit_log_failed = true;\n  payload.audit_log_error_message = auditErr.audit_log_error_message ?? '';\n}\n\nreturn payload;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        16
      ],
      "id": "e05a57c3-87aa-40cf-9e3c-631158eff98e",
      "name": "Pass Lead To Enrichment"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "B2B Lead Enrichment Scoring"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "dedup_skipped": "={{ $json.dedup_skipped ?? false }}",
            "source_trust_level": "={{ $json.source_trust_level }}",
            "lead_id": "={{ $json.lead_id }}",
            "correlation_id": "={{ $json.correlation_id }}",
            "source_type": "={{ $json.source_type }}",
            "source_name": "={{ $json.source_name }}",
            "company_name": "={{ $json.company_name }}",
            "company_domain": "={{ $json.company_domain }}",
            "contact_name": "={{ $json.contact_name }}",
            "contact_role": "={{ $json.contact_role }}",
            "contact_email": "={{ $json.contact_email }}",
            "raw_content": "={{ $json.raw_content }}",
            "sheets_write_failed": "={{ $json.sheets_write_failed ?? false }}",
            "sheets_error_message": "={{ $json.sheets_error_message ?? \"\" }}",
            "read_error_message": "={{ $json.read_error_message ?? \"\" }}",
            "audit_log_failed": "={{ $json.audit_log_failed ?? false }}",
            "audit_log_error_message": "={{ $json.audit_log_error_message ?? \"\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "source_type",
              "displayName": "source_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "source_name",
              "displayName": "source_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "source_trust_level",
              "displayName": "source_trust_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "company_domain",
              "displayName": "company_domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contact_name",
              "displayName": "contact_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contact_role",
              "displayName": "contact_role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contact_email",
              "displayName": "contact_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "raw_content",
              "displayName": "raw_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sheets_write_failed",
              "displayName": "sheets_write_failed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "sheets_error_message",
              "displayName": "sheets_error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "dedup_skipped",
              "displayName": "dedup_skipped",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "read_error_message",
              "displayName": "read_error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "audit_log_failed",
              "displayName": "audit_log_failed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "audit_log_error_message",
              "displayName": "audit_log_error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3584,
        16
      ],
      "id": "02a5820e-d55a-4383-abbd-a9efd27992d4",
      "name": "Execute Enrichment Scoring"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1568,
        208
      ],
      "id": "97fde093-ccb2-44c1-b27e-51e84dba6612",
      "name": "Validation Failed End"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2688,
        16
      ],
      "id": "9d369293-c46c-4639-82a2-45e4cb3254d5",
      "name": "Normalize Lead"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const crypto = require('crypto');\nconst item = $input.item;\nconst json = item.json || {};\nconst headers = json.headers || {};\nconst secret = $env.TALLY_WEBHOOK_SIGNING_KEY || '';\n\nconst sigHeader =\n  headers['tally-signature'] ||\n  headers['Tally-Signature'] ||\n  '';\n\nconst rawBody =\n  json.rawBody ||\n  (typeof json.body === 'string' ? json.body : JSON.stringify(json.body ?? json));\n\nfunction verify(secret, header, payload) {\n  if (!secret) return { valid: false, skipped: false, reason: 'missing_secret' }; // \u751f\u4ea7 fail-closed\n  if (!header) return { valid: false, reason: 'missing_signature' };\n\n  // Tally \u5e38\u89c1\u683c\u5f0f\uff1a\u6574\u6bb5 base64 HMAC-SHA256(payload)\n  const calc = crypto.createHmac('sha256', secret).update(payload).digest('base64');\n  if (header === calc) return { valid: true };\n\n  // \u5907\u9009\u683c\u5f0f\uff1at=...,v1=... (hex)\n  const parts = {};\n  for (const part of String(header).split(',')) {\n    const eq = part.indexOf('=');\n    if (eq > -1) parts[part.slice(0, eq).trim()] = part.slice(eq + 1).trim();\n  }\n  if (parts.t && parts.v1) {\n    const base = `t=${parts.t}.${payload}`;\n    const calc2 = crypto.createHmac('sha256', secret).update(base).digest('hex');\n    if (calc2 === parts.v1) return { valid: true };\n  }\n  return { valid: false, reason: 'signature_mismatch' };\n}\n\nconst result = verify(secret, sigHeader, rawBody);\nreturn { ...json, tally_signature_valid: result.valid, tally_verify: result };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -80
      ],
      "id": "e4d85cb0-c02e-4d0d-86b5-bc92817d2a59",
      "name": "Verify Tally Signature"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "35d24c30-5c1c-417c-ac3f-503f422721f5",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        -80
      ],
      "id": "a54da474-3781-4438-b610-7be072dd459c",
      "name": "Tally Validation Passed?"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        672,
        -176
      ],
      "id": "4179b781-92b1-4891-93d8-28336dff0f78",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Tally Webhook": {
      "main": [
        [
          {
            "node": "Verify Tally Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Forms Webhook": {
      "main": [
        [
          {
            "node": "Normalize Google Forms Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Tally Payload": {
      "main": [
        [
          {
            "node": "Generate Lead IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Google Forms Payload": {
      "main": [
        [
          {
            "node": "Generate Lead IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Lead IDs": {
      "main": [
        [
          {
            "node": "Validate Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Lead": {
      "main": [
        [
          {
            "node": "Validation Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Passed?": {
      "main": [
        [
          {
            "node": "Read All Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Failed End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Leads": {
      "main": [
        [
          {
            "node": "Dedup Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Read Leads Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Read Leads Error": {
      "main": [
        [
          {
            "node": "Is Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Lead": {
      "main": [
        [
          {
            "node": "Is Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Update?": {
      "main": [
        [
          {
            "node": "Update Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead": {
      "main": [
        [
          {
            "node": "Normalize Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Update Lead Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Update Lead Error": {
      "main": [
        [
          {
            "node": "Normalize Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Lead": {
      "main": [
        [
          {
            "node": "Normalize Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Append Lead Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Append Lead Error": {
      "main": [
        [
          {
            "node": "Normalize Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Audit Log": {
      "main": [
        [
          {
            "node": "Pass Lead To Enrichment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Audit Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Audit Log Error": {
      "main": [
        [
          {
            "node": "Pass Lead To Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Lead To Enrichment": {
      "main": [
        [
          {
            "node": "Execute Enrichment Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Lead": {
      "main": [
        [
          {
            "node": "Write Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Tally Signature": {
      "main": [
        [
          {
            "node": "Tally Validation Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tally Validation Passed?": {
      "main": [
        [
          {
            "node": "Normalize Tally Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "B2B Lead Error Handler",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "de2eb892-3693-4684-92ac-5c65afa683ca",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "0246fcb7b950ec568a04804ab3ef46da4265b1e24df662842521414c411e9d02"
  },
  "nodeGroups": [],
  "id": "cjxnMbHwmhbeU3ZS",
  "tags": [
    {
      "updatedAt": "2026-07-01T02:31:24.969Z",
      "createdAt": "2026-07-01T02:31:24.969Z",
      "id": "tb551WiNlnAgjnHk",
      "name": "crm-workflow"
    }
  ]
}