workflows/B2B Lead Daily Summary.json
{
  "name": "B2B Lead Daily Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -272,
        672
      ],
      "id": "b2d3eecd-fdf8-482d-b06f-99d13e405385",
      "name": "Daily 9am"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "leads"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -48,
        672
      ],
      "id": "ce537153-ed9e-4603-91c3-b7408831a224",
      "name": "Read Leads For Summary",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "error_logs"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        176,
        592
      ],
      "id": "82dabf68-6322-4987-8b18-6ea0991a9819",
      "name": "Read Errors For Summary",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Daily Summary read error';\n\n\nconst leads = $('Read Leads For Summary').all().map(i => i.json).filter(r => r.lead_id);\nconst today = new Date().toISOString().slice(0, 10);\nconst todayLeads = leads.filter(l => (l.created_at || '').startsWith(today));\n\nreturn {\n  date: today,\n  new_leads: todayLeads.length,\n  high_score_leads: todayLeads.filter(l => Number(l.score || 0) >= 80).length,\n  crm_success_rate: todayLeads.length ? 'partial' : 'N/A',\n  slack_success_count: todayLeads.filter(l => l.notification_status === 'sent').length,\n  review_pending: todayLeads.filter(l => l.review_status === 'pending_review').length,\n  review_approved: todayLeads.filter(l => l.review_status === 'approved').length,\n  error_count: 0,\n  error_types: {},\n  _summary_degraded: true,\n  summary_read_error_message: errorMessage,\n  _metadata: {\n    processing_stage: 'summary_read_failed',\n    severity: 'medium',\n    error_message: errorMessage,\n    failed_node: 'Read Leads/Errors For Summary',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        736
      ],
      "id": "729de916-fddb-4a56-9277-248504d091f9",
      "name": "Handle Summary Read Error"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst leads = $('Read Leads For Summary').all().map(i => i.json);\nconst errors = $('Read Errors For Summary').all().map(i => i.json);\nconst today = new Date().toISOString().slice(0, 10);\n\nconst todayLeads = leads.filter(l => (l.created_at || '').startsWith(today));\nconst highScore = todayLeads.filter(l => Number(l.score || 0) >= 80);\nconst crmSynced = todayLeads.filter(l => l.crm_status === 'synced');\nconst crmFailed = todayLeads.filter(l => l.crm_status === 'failed');\nconst notified = todayLeads.filter(l => l.notification_status === 'sent');\nconst reviewPending = todayLeads.filter(l => l.review_status === 'pending_review');\nconst reviewApproved = todayLeads.filter(l => l.review_status === 'approved');\n\nconst errorTypes = {};\nfor (const e of errors.filter(e => (e.timestamp || '').startsWith(today))) {\n  const key = (e.message || 'unknown').slice(0, 40);\n  errorTypes[key] = (errorTypes[key] || 0) + 1;\n}\n\nconst summary = {\n  date: today,\n  new_leads: todayLeads.length,\n  high_score_leads: highScore.length,\n  crm_success_rate: todayLeads.length ? (crmSynced.length / todayLeads.length * 100).toFixed(1) + '%' : 'N/A',\n  slack_success_count: notified.length,\n  review_pending: reviewPending.length,\n  review_approved: reviewApproved.length,\n  error_count: Object.values(errorTypes).reduce((a,b)=>a+b,0),\n  error_types: errorTypes,\n  _metadata: { processing_stage: 'daily_summary_built' },\n};\n\nreturn summary;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        672
      ],
      "id": "f5be7dd8-7ddf-4b99-bc41-71d4ef7d7637",
      "name": "Build Daily Summary"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.SLACK_CHANNEL_ID || 'SLACK_CHANNEL_ID' }}"
        },
        "text": "=\ud83d\udcca CRM Daily Summary ({{ $json.date }})\nNew leads: {{ $json.new_leads }}\nHigh score: {{ $json.high_score_leads }}\nCRM success rate: {{ $json.crm_success_rate }}\nSlack sent: {{ $json.slack_success_count }}\nReview pending: {{ $json.review_pending }}\nErrors: {{ $json.error_count }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        848,
        672
      ],
      "id": "79cf37c5-6444-4951-a933-c3346b41e3b6",
      "name": "Slack Daily Report",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "webhookId": "31318d0a-c06b-485b-966b-415c1bffb2a2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Slack Daily Report error';\n\nreturn {\n  error_type: 'slack_summary_failed',\n  slack_error_message: errorMessage,\n  _metadata: { processing_stage: 'slack_summary_error_handled', severity: 'low', error_message: errorMessage },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        736
      ],
      "id": "646f732f-7b91-47d8-b6b3-57af640832b9",
      "name": "Log Slack Summary Error"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1296,
        672
      ],
      "id": "768836ef-f49c-48e0-b9f1-687a10509682",
      "name": "Daily Summary Failed End"
    }
  ],
  "connections": {
    "Daily 9am": {
      "main": [
        [
          {
            "node": "Read Leads For Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads For Summary": {
      "main": [
        [
          {
            "node": "Read Errors For Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Summary Read Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Errors For Summary": {
      "main": [
        [
          {
            "node": "Build Daily Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Summary Read Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Summary Read Error": {
      "main": [
        [
          {
            "node": "Build Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Daily Summary": {
      "main": [
        [
          {
            "node": "Slack Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Daily Report": {
      "main": [
        [
          {
            "node": "Daily Summary Failed End",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Slack Summary Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Slack Summary Error": {
      "main": [
        [
          {
            "node": "Daily Summary Failed End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "B2B Lead Error Handler",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "d2a9042e-d4fe-4370-acfe-b350d9c71273",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "0246fcb7b950ec568a04804ab3ef46da4265b1e24df662842521414c411e9d02"
  },
  "nodeGroups": [],
  "id": "tzzvYBPJStx6hRyJ",
  "tags": [
    {
      "updatedAt": "2026-07-01T02:31:24.969Z",
      "createdAt": "2026-07-01T02:31:24.969Z",
      "id": "tb551WiNlnAgjnHk",
      "name": "crm-workflow"
    }
  ]
}