workflows/B2B Lead Intake.json
{
  "name": "B2B Lead Intake",
  "nodes": [
    {
      "parameters": {
        "path": "tally-lead",
        "options": {
          "rawBody": true
        },
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        64
      ],
      "id": "618a4dfc-fc70-4ba7-b9dc-6bde2134c68d",
      "name": "Tally Webhook",
      "webhookId": "e59f57f2-af58-4337-b997-3a1f1be0c9bf"
    },
    {
      "parameters": {
        "path": "google-forms-lead",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        256
      ],
      "id": "20702006-9c6a-4ec0-beda-d23d4fdc9990",
      "name": "Google Forms Webhook",
      "webhookId": "04f6c352-0560-45f4-ac74-df6cd4b7c700"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst crypto = require('crypto');\nconst item = $input.item;\nconst json = item.json || {};\nconst headers = json.headers || {};\nconst secret = $env.TALLY_WEBHOOK_SIGNING_KEY || '';\n\nconst sigHeader =\n  headers['tally-signature'] ||\n  headers['Tally-Signature'] ||\n  '';\n\nconst rawBody =\n  json.rawBody ||\n  (typeof json.body === 'string' ? json.body : JSON.stringify(json.body ?? json));\n\nfunction verify(secret, header, payload) {\n  // Empty env key: skip verification (dev/demo only). Calendly Intake uses the same pattern.\n  if (!secret) return { valid: true, skipped: true, reason: 'verification_skipped' };\n  if (!header) return { valid: false, reason: 'missing_signature' };\n\n  const calc = crypto.createHmac('sha256', secret).update(payload).digest('base64');\n  if (header === calc) return { valid: true };\n\n  const parts = {};\n  for (const part of String(header).split(',')) {\n    const eq = part.indexOf('=');\n    if (eq > -1) parts[part.slice(0, eq).trim()] = part.slice(eq + 1).trim();\n  }\n  if (parts.t && parts.v1) {\n    const base = `t=${parts.t}.${payload}`;\n    const calc2 = crypto.createHmac('sha256', secret).update(base).digest('hex');\n    if (calc2 === parts.v1) return { valid: true };\n  }\n  return { valid: false, reason: 'signature_mismatch' };\n}\n\nconst result = verify(secret, sigHeader, rawBody);\nreturn { ...json, tally_signature_valid: result.valid, tally_verify: result };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        64
      ],
      "id": "2bde1e1c-e9c2-4b72-bacd-f233651f1682",
      "name": "Verify Tally Signature"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ff36be8c-06a5-42ac-a0f7-e441d98e57e7",
              "leftValue": "={{ $json.tally_signature_valid }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        64
      ],
      "id": "a1320d40-5bc3-4ad9-b0c7-6116a4d88b4f",
      "name": "Tally Validation Passed?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": false, \"error\": \"invalid_signature\" } }}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        672,
        -176
      ],
      "id": "ef99207e-2e62-4c44-b0f2-ad8391e2fb9e",
      "name": "Respond 401"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        672,
        -32
      ],
      "id": "776f68a2-ceb8-4b1a-8f75-fe4b50301cab",
      "name": "Respond 200"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst body = $input.item.json.body || $input.item.json;\nconst data = body.data || body;\nconst fields = data.fields || [];\nconst fieldMap = {};\nfor (const f of fields) {\n  const key = (f.label || f.key || '').toLowerCase().replace(/\\s+/g, '_');\n  fieldMap[key] = f.value;\n}\nconst getField = (...keys) => {\n  for (const k of keys) {\n    if (fieldMap[k]) return fieldMap[k];\n  }\n  return '';\n};\nconst now = new Date().toISOString();\nreturn {\n  source_type: 'tally',\n  source_name: data.formName || 'Tally Form',\n  source_url: data.formId ? ('https://tally.so/r/' + data.formId) : '',\n  source_trust_level: 80,\n  contact_name: getField('name', 'contact_name', 'full_name'),\n  contact_email: getField('email', 'contact_email').toLowerCase().trim(),\n  contact_role: getField('role', 'contact_role', 'job_title'),\n  company_name: getField('company', 'company_name'),\n  raw_content: getField('message', 'details', 'project_description', 'how_can_we_help?'),\n  processing_status: 'intake',\n  created_at: now,\n  updated_at: now,\n  _metadata: { processing_stage: 'normalized_tally' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        64
      ],
      "id": "f334fa8e-837a-4dfc-a978-8e1057f8885c",
      "name": "Normalize Tally Payload"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst body = $input.item.json.body || $input.item.json;\nconst now = new Date().toISOString();\nreturn {\n  source_type: 'google_forms',\n  source_name: body.formName || 'Google Form',\n  source_url: body.formUrl || body.source_url || '',\n  source_trust_level: 70,\n  contact_name: body.name || body.contact_name || '',\n  contact_email: (body.email || body.contact_email || '').toLowerCase().trim(),\n  contact_role: body.role || body.contact_role || '',\n  company_name: body.company || body.company_name || '',\n  raw_content: body.message || body.raw_content || JSON.stringify(body),\n  processing_status: 'intake',\n  created_at: now,\n  updated_at: now,\n  _metadata: { processing_stage: 'normalized_google_forms' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        256
      ],
      "id": "4d23bb9a-6f10-4b5e-bf11-9686454a5c59",
      "name": "Normalize Google Forms Payload"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst crypto = require('crypto');\nconst item = $input.item.json;\nconst email = (item.contact_email || '').toLowerCase().trim();\nconst domain = (item.company_domain || (email.includes('@') ? email.split('@')[1] : '')).toLowerCase().trim();\nconst hashInput = `${email}|${domain}`;\nconst lead_hash = crypto.createHash('sha256').update(hashInput).digest('hex').slice(0, 16);\nreturn {\n  ...item,\n  lead_id: crypto.randomUUID(),\n  correlation_id: crypto.randomUUID(),\n  lead_hash,\n  company_domain: domain,\n  updated_at: new Date().toISOString(),\n  _metadata: { processing_stage: 'ids_generated' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        160
      ],
      "id": "ee7a464a-7462-4e62-9255-2a75a793a5ff",
      "name": "Generate Lead IDs"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst item = $input.item.json;\nconst email = item.contact_email || '';\nconst emailOk = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\nif (!emailOk) {\n  return {\n    ...item,\n    validation_passed: false,\n    validation_error: 'invalid_email',\n    _metadata: { processing_stage: 'validation_failed', severity: 'low' },\n  };\n}\nreturn {\n  ...item,\n  validation_passed: true,\n  _metadata: { processing_stage: 'validation_passed' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        160
      ],
      "id": "8fb294a2-3289-4740-96d2-d72ce81adcfc",
      "name": "Validate Lead"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1a173f79-dfc7-4133-8428-83c794c2eef4",
              "leftValue": "={{ $json.validation_passed }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        160
      ],
      "id": "60f28333-25a6-4274-b746-e30c6385f291",
      "name": "Validation Passed?"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "leads"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1120,
        64
      ],
      "id": "afbfdc31-b5f4-4f5e-abdb-e2e259695f97",
      "name": "Read All Leads",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Read All Leads error';\n\n\nconst lead = $('Validate Lead').item.json;\n\nreturn {\n  ...lead,\n  is_update: false,\n  _dedup_skipped: true,\n  read_error_message: errorMessage,\n  _metadata: {\n    processing_stage: 'dedup_read_failed',\n    severity: 'medium',\n    error_message: errorMessage,\n    error_description: errorObj.description || '',\n    failed_node: 'Read All Leads',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        160
      ],
      "id": "593ba19c-338b-46ca-a2c0-946da01a0d71",
      "name": "Handle Read Leads Error"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst item = $('Validate Lead').item.json;\nconst existingRows = $('Read All Leads').all().map(r => r.json);\nconst findMatch = (rows, predicate) => rows.find(predicate);\n\nlet existing = null;\nlet dedupMatchKey = '';\n\nif (item.contact_email) {\n  const email = item.contact_email.toLowerCase().trim();\n  existing = findMatch(\n    existingRows,\n    (row) => (row.contact_email || '').toLowerCase().trim() === email,\n  );\n  if (existing) dedupMatchKey = 'contact_email';\n}\n\nif (!existing && item.lead_hash) {\n  existing = findMatch(existingRows, (row) => row.lead_hash === item.lead_hash);\n  if (existing) dedupMatchKey = 'lead_hash';\n}\n\nif (existing && existing.lead_id) {\n  return {\n    ...item,\n    lead_id: existing.lead_id,\n    correlation_id: item.correlation_id,\n    is_update: true,\n    dedup_match_key: dedupMatchKey,\n    updated_at: new Date().toISOString(),\n    _metadata: { processing_stage: 'dedup_update', dedup_match_key: dedupMatchKey },\n  };\n}\n\nreturn {\n  ...item,\n  is_update: false,\n  dedup_match_key: '',\n  _metadata: { processing_stage: 'dedup_insert' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -32
      ],
      "id": "af12e318-2963-42ed-86bb-26b7983862db",
      "name": "Dedup Lead"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d29bc90f-0443-45a6-880a-f404335d94ba",
              "leftValue": "={{ $json.is_update }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        64
      ],
      "id": "7cf50298-3483-42d1-9eb4-b54a1c354639",
      "name": "Is Update?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "correlation_id": "={{ $json.correlation_id }}",
            "lead_hash": "={{ $json.lead_hash }}",
            "source_type": "={{ $json.source_type }}",
            "source_name": "={{ $json.source_name }}",
            "source_url": "={{ $json.source_url }}",
            "source_trust_level": "={{ $json.source_trust_level }}",
            "company_name": "={{ $json.company_name }}",
            "company_domain": "={{ $json.company_domain }}",
            "contact_name": "={{ $json.contact_name }}",
            "contact_role": "={{ $json.contact_role }}",
            "contact_email": "={{ $json.contact_email }}",
            "raw_content": "={{ $json.raw_content }}",
            "processing_status": "={{ $json.processing_status }}",
            "updated_at": "={{ $json.updated_at }}"
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_hash",
              "displayName": "lead_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_type",
              "displayName": "source_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_name",
              "displayName": "source_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_url",
              "displayName": "source_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_trust_level",
              "displayName": "source_trust_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_domain",
              "displayName": "company_domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_name",
              "displayName": "contact_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_role",
              "displayName": "contact_role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_email",
              "displayName": "contact_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "raw_content",
              "displayName": "raw_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processing_status",
              "displayName": "processing_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1792,
        0
      ],
      "id": "50f9dafd-48e0-489d-9879-e0edc13b4a4c",
      "name": "Update Lead",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Update Lead error';\n\n\nconst lead =\n  $('Dedup Lead').first()?.json ??\n  $('Validate Lead').first()?.json;\n\nreturn {\n  ...lead,\n  sheets_write_failed: true,\n  processing_status: 'failed',\n  sheets_error_message: errorMessage,\n  _metadata: {\n    processing_stage: 'update_lead_failed',\n    severity: 'high',\n    error_message: errorMessage,\n    error_description: errorObj.description || '',\n    failed_node: 'Update Lead',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        0
      ],
      "id": "3f7f3791-c795-4890-9e6f-f2d1f26f393a",
      "name": "Handle Update Lead Error"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "correlation_id": "={{ $json.correlation_id }}",
            "lead_hash": "={{ $json.lead_hash }}",
            "source_type": "={{ $json.source_type }}",
            "source_name": "={{ $json.source_name }}",
            "source_url": "={{ $json.source_url }}",
            "source_trust_level": "={{ $json.source_trust_level }}",
            "company_name": "={{ $json.company_name }}",
            "company_domain": "={{ $json.company_domain }}",
            "contact_name": "={{ $json.contact_name }}",
            "contact_role": "={{ $json.contact_role }}",
            "contact_email": "={{ $json.contact_email }}",
            "raw_content": "={{ $json.raw_content }}",
            "meeting_status": "not_booked",
            "processing_status": "={{ $json.processing_status }}",
            "created_at": "={{ $json.created_at }}",
            "updated_at": "={{ $json.updated_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_hash",
              "displayName": "lead_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_type",
              "displayName": "source_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_name",
              "displayName": "source_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_url",
              "displayName": "source_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_trust_level",
              "displayName": "source_trust_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_domain",
              "displayName": "company_domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_name",
              "displayName": "contact_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_role",
              "displayName": "contact_role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_email",
              "displayName": "contact_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "raw_content",
              "displayName": "raw_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "meeting_status",
              "displayName": "meeting_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processing_status",
              "displayName": "processing_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1792,
        192
      ],
      "id": "d8fb7b71-9120-47ad-a074-5da4eea09ed0",
      "name": "Append Lead",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Append Lead error';\n\n\nconst lead =\n  $('Dedup Lead').first()?.json ??\n  $('Handle Read Leads Error').first()?.json ??\n  $('Validate Lead').first()?.json;\n\nreturn {\n  ...lead,\n  sheets_write_failed: true,\n  processing_status: 'failed',\n  sheets_error_message: errorMessage,\n  _metadata: {\n    processing_stage: 'append_lead_failed',\n    severity: 'high',\n    error_message: errorMessage,\n    error_description: errorObj.description || '',\n    failed_node: 'Append Lead',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        256
      ],
      "id": "1eec9b96-4bc5-4c4a-8077-ed261fd58774",
      "name": "Handle Append Lead Error"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        64
      ],
      "id": "e2ddd81f-f063-4b49-a730-5fddf01784dd",
      "name": "Normalize Lead"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "audit_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "correlation_id": "={{ $json.correlation_id }}",
            "event": "={{ ($json.is_update === true || $json.is_update === 'true') ? 'lead_updated' : (($json.is_update === false || $json.is_update === 'false') ? 'lead_created' : ($json.created_at ? 'lead_created' : 'lead_updated')) }}",
            "new_value": "={{ $json.processing_status }}",
            "workflow": "B2B Lead Intake",
            "timestamp": "={{ $json.updated_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "new_value",
              "displayName": "new_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2464,
        64
      ],
      "id": "49197868-abb8-4904-9213-772c48deceb5",
      "name": "Write Audit Log",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst auditErrorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Write Audit Log error';\n\nconst lead = $('Normalize Lead').first()?.json\n\nreturn {\n  ...lead,\n  audit_log_failed: true,\n  audit_log_error_message: auditErrorMessage,\n  _metadata: {\n    ...(lead._metadata || {}),\n    processing_stage: 'audit_log_failed',\n    severity: 'low',\n    error_message: auditErrorMessage,\n    failed_node: 'Write Audit Log',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        144
      ],
      "id": "8796fbb6-32f9-4f42-ab13-0e695f282d71",
      "name": "Handle Audit Log Error"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nfunction safeNodeJson(name) {\n  try {\n    return $(name).first()?.json;\n  } catch {\n    return undefined;\n  }\n}\n\nconst dedup =\n  safeNodeJson('Dedup Lead') ??\n  safeNodeJson('Handle Read Leads Error') ??\n  {};\n\nconst updateErr = safeNodeJson('Handle Update Lead Error');\nconst appendErr = safeNodeJson('Handle Append Lead Error');\nconst auditErr = safeNodeJson('Handle Audit Log Error');\n\nconst sheetErr =\n  updateErr?.sheets_write_failed ? updateErr :\n  appendErr?.sheets_write_failed ? appendErr :\n  null;\n\nconst email = (dedup.contact_email ?? '').toLowerCase().trim();\nlet company_domain = dedup.company_domain ?? '';\nif (!company_domain && email.includes('@')) {\n  company_domain = email.split('@')[1].toLowerCase();\n}\n\nconst payload = {\n  lead_id: dedup.lead_id,\n  correlation_id: dedup.correlation_id,\n  source_type: dedup.source_type ?? '',\n  source_name: dedup.source_name ?? '',\n  source_trust_level: Number(dedup.source_trust_level ?? 0),\n  contact_name: dedup.contact_name ?? '',\n  contact_email: email,\n  contact_role: dedup.contact_role ?? '',\n  company_name: dedup.company_name ?? '',\n  company_domain,\n  raw_content: dedup.raw_content ?? '',\n};\n\nif (sheetErr) {\n  payload.sheets_write_failed = true;\n  payload.sheets_error_message = sheetErr.sheets_error_message ?? '';\n}\n\nif (dedup._dedup_skipped) {\n  payload.dedup_skipped = true;\n  payload.read_error_message = dedup.read_error_message ?? '';\n}\n\nif (auditErr?.audit_log_failed) {\n  payload.audit_log_failed = true;\n  payload.audit_log_error_message = auditErr.audit_log_error_message ?? '';\n}\n\nreturn payload;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        64
      ],
      "id": "909adfee-628d-48a1-a5b8-19a9c91b3b24",
      "name": "Pass Lead To Enrichment"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "B2B Lead Enrichment Scoring"
        },
        "options": {},
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "correlation_id": "={{ $json.correlation_id }}",
            "source_type": "={{ $json.source_type }}",
            "source_name": "={{ $json.source_name }}",
            "source_trust_level": "={{ $json.source_trust_level }}",
            "company_name": "={{ $json.company_name }}",
            "company_domain": "={{ $json.company_domain }}",
            "contact_name": "={{ $json.contact_name }}",
            "contact_role": "={{ $json.contact_role }}",
            "contact_email": "={{ $json.contact_email }}",
            "raw_content": "={{ $json.raw_content }}",
            "sheets_write_failed": "={{ $json.sheets_write_failed ?? false }}",
            "sheets_error_message": "={{ $json.sheets_error_message ?? \"\" }}",
            "dedup_skipped": "={{ $json.dedup_skipped ?? false }}",
            "read_error_message": "={{ $json.read_error_message ?? \"\" }}",
            "audit_log_failed": "={{ $json.audit_log_failed ?? false }}",
            "audit_log_error_message": "={{ $json.audit_log_error_message ?? \"\" }}"
          },
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3136,
        64
      ],
      "id": "6100c668-5ab0-413c-a28e-f875a451dba2",
      "name": "Execute Enrichment Scoring"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        256
      ],
      "id": "59e31f1d-19c6-4dfa-b055-a45ffab4cf97",
      "name": "Validation Failed End"
    }
  ],
  "connections": {
    "Tally Webhook": {
      "main": [
        [
          {
            "node": "Verify Tally Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Tally Signature": {
      "main": [
        [
          {
            "node": "Tally Validation Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tally Validation Passed?": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 200": {
      "main": [
        [
          {
            "node": "Normalize Tally Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Forms Webhook": {
      "main": [
        [
          {
            "node": "Normalize Google Forms Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Tally Payload": {
      "main": [
        [
          {
            "node": "Generate Lead IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Google Forms Payload": {
      "main": [
        [
          {
            "node": "Generate Lead IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Lead IDs": {
      "main": [
        [
          {
            "node": "Validate Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Lead": {
      "main": [
        [
          {
            "node": "Validation Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Passed?": {
      "main": [
        [
          {
            "node": "Read All Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Failed End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Leads": {
      "main": [
        [
          {
            "node": "Dedup Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Read Leads Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Read Leads Error": {
      "main": [
        [
          {
            "node": "Is Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Lead": {
      "main": [
        [
          {
            "node": "Is Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Update?": {
      "main": [
        [
          {
            "node": "Update Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead": {
      "main": [
        [
          {
            "node": "Normalize Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Update Lead Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Update Lead Error": {
      "main": [
        [
          {
            "node": "Normalize Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Lead": {
      "main": [
        [
          {
            "node": "Normalize Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Append Lead Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Append Lead Error": {
      "main": [
        [
          {
            "node": "Normalize Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Lead": {
      "main": [
        [
          {
            "node": "Write Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Audit Log": {
      "main": [
        [
          {
            "node": "Pass Lead To Enrichment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Audit Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Audit Log Error": {
      "main": [
        [
          {
            "node": "Pass Lead To Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Lead To Enrichment": {
      "main": [
        [
          {
            "node": "Execute Enrichment Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "B2B Lead Error Handler"
  },
  "versionId": "c6e44a44-4a16-4fdd-878d-e1263a72ee0f",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "crm-workflow"
    }
  ]
}