workflows/B2B Lead Error Handler.json
{
  "name": "B2B Lead Error Handler",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "592068f0-596d-4c00-a17b-d23bf4da578d",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst err = $input.item.json;\nconst execution = err.execution || {};\nconst error = err.error || {};\nreturn {\n  workflow: err.workflow?.name || 'unknown',\n  execution_id: execution.id || '',\n  node: error.node?.name || 'unknown',\n  message: error.message || JSON.stringify(error),\n  stack: error.stack || '',\n  correlation_id: error.context?.correlation_id || execution.customData?.correlation_id || '',\n  retry_suggestion: 'manual',\n  timestamp: new Date().toISOString(),\n  _metadata: { processing_stage: 'global_error_logged', severity: 'critical' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "02db750d-6ab4-4f46-b1f2-9e35cec7b1f8",
      "name": "Extract Error Details"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "error_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow": "={{ $json.workflow }}",
            "execution_id": "={{ $json.execution_id }}",
            "node": "={{ $json.node }}",
            "message": "={{ $json.message }}",
            "stack": "={{ $json.stack }}",
            "correlation_id": "={{ $json.correlation_id }}",
            "retry_suggestion": "={{ $json.retry_suggestion }}",
            "timestamp": "={{ $json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "node",
              "displayName": "node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stack",
              "displayName": "stack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "retry_suggestion",
              "displayName": "retry_suggestion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        0
      ],
      "id": "51be5efd-a53c-47a8-b563-caf5f23ac29c",
      "name": "Write error_logs",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Write error_logs error';\n\n\nconst details = $('Extract Error Details').first()?.json ?? errJson;\n\nreturn {\n  ...details,\n  error_logs_write_failed: true,\n  error_logs_error_message: errorMessage,\n  _metadata: {\n    processing_stage: 'error_logs_write_failed',\n    severity: 'high',\n    error_message: errorMessage,\n    failed_node: 'Write error_logs',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        200
      ],
      "id": "ee06b91c-0294-4084-a671-65620f5609fa",
      "name": "Handle error_logs Write Failure"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "config_main"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        660,
        0
      ],
      "id": "994d07f7-b8b9-4ee8-bd8c-e4d07a8a6a3e",
      "name": "Read config_main",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "config_notifications"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        0
      ],
      "id": "9f313373-6dce-41c6-819e-5617251df264",
      "name": "Read config_notifications",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst mode = ($('Read config_main').all().find(r => r.json.key === 'mode') || {}).json?.value || 'test';\nconst rules = $('Read config_notifications').all().map(r => r.json);\nconst rule = rules.find(r => r.event_type === 'error_alert');\nconst enabled = rule && (rule.enabled === true || rule.enabled === 'true');\nreturn {\n  ...$('Extract Error Details').item.json,\n  should_alert_slack: String(mode).toLowerCase() === 'production' && enabled,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ],
      "id": "482bd7b4-c983-4373-b4e8-7ca8b643e831",
      "name": "Check Error Alert Enabled"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "136913a1-e4b8-4680-9f7a-f11e648fac01",
              "leftValue": "={{ $json.should_alert_slack }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1320,
        0
      ],
      "id": "cb3e82a3-0b41-47f4-80cf-e9e0ff0d42e3",
      "name": "Should Alert Slack?"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.SLACK_CHANNEL_ID || 'SLACK_CHANNEL_ID' }}"
        },
        "text": "=\ud83d\udea8 CRM Workflow Error\nWorkflow: {{ $('Extract Error Details').item.json.workflow }}\nNode: {{ $('Extract Error Details').item.json.node }}\nMessage: {{ $('Extract Error Details').item.json.message }}\nCorrelation: {{ $('Extract Error Details').item.json.correlation_id }}"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1540,
        0
      ],
      "id": "9b08a940-124c-455d-a61d-c623e4d7725a",
      "name": "Slack Error Alert",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput",
      "credentials": {
        "slackOAuth2Api": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Slack Error Alert error';\n\nreturn {\n  error_type: 'slack_notification_failed',\n  slack_error_message: errorMessage,\n  _metadata: { processing_stage: 'slack_error_handled', severity: 'low', error_message: errorMessage },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        120
      ],
      "id": "e76155e3-c1d7-4394-bcb0-c175f87f4b1a",
      "name": "Log Slack Error"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1540,
        200
      ],
      "id": "39572ee7-fd23-4934-9635-3f6d7f3686a5",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Extract Error Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Error Details": {
      "main": [
        [
          {
            "node": "Write error_logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write error_logs": {
      "main": [
        [
          {
            "node": "Read config_main",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle error_logs Write Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle error_logs Write Failure": {
      "main": [
        [
          {
            "node": "Read config_main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read config_main": {
      "main": [
        [
          {
            "node": "Read config_notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read config_notifications": {
      "main": [
        [
          {
            "node": "Check Error Alert Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Error Alert Enabled": {
      "main": [
        [
          {
            "node": "Should Alert Slack?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Alert Slack?": {
      "main": [
        [
          {
            "node": "Slack Error Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Error Alert": {
      "main": [
        [],
        [
          {
            "node": "Log Slack Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "f6300d85-b17b-4de8-a704-897ae65c0b24",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "crm-workflow"
    }
  ]
}