workflows/B2B Lead Daily Summary.json
{
  "name": "B2B Lead Daily Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ],
      "id": "3fd8b759-f1b8-41e6-a91f-a77aa3d93a56",
      "name": "Daily 9am"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "leads"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        200
      ],
      "id": "4755f4a3-7541-487f-aec4-676b6c9ac650",
      "name": "Read Leads For Summary",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "error_logs"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        200
      ],
      "id": "d10212fd-6c7e-43c2-a809-19e5bfaee5bc",
      "name": "Read Errors For Summary",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Daily Summary read error';\n\nfunction safeNodeAll(name) {\n  try {\n    return $(name).all().map(i => i.json);\n  } catch {\n    return [];\n  }\n}\n\nconst leads = safeNodeAll('Read Leads For Summary').filter(r => r.lead_id);\nconst yesterday = new Date();\nyesterday.setUTCDate(yesterday.getUTCDate() - 1);\nconst reportDate = yesterday.toISOString().slice(0, 10);\nconst dayLeads = leads.filter(l => (l.created_at || '').startsWith(reportDate));\n\nreturn {\n  date: reportDate,\n  new_leads: dayLeads.length,\n  high_score_leads: dayLeads.filter(l => Number(l.score || 0) >= 80).length,\n  crm_success_rate: dayLeads.length ? 'partial' : 'N/A',\n  slack_success_count: dayLeads.filter(l => l.notification_status === 'sent').length,\n  review_pending: dayLeads.filter(l => l.review_status === 'pending_review').length,\n  review_approved: dayLeads.filter(l => l.review_status === 'approved').length,\n  error_count: 0,\n  error_types: {},\n  mode: 'test',\n  daily_summary_enabled: false,\n  daily_gate_passed: false,\n  _summary_degraded: true,\n  summary_read_error_message: errorMessage,\n  _metadata: {\n    processing_stage: 'summary_read_failed',\n    severity: 'medium',\n    error_message: errorMessage,\n    failed_node: 'Read Leads/Errors For Summary',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        400
      ],
      "id": "aaedd927-9742-4f8d-bcb0-72cf465a09d9",
      "name": "Handle Summary Read Error"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "config_main"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        660,
        200
      ],
      "id": "c3b860f0-6150-4afa-9235-a25adb5c97bb",
      "name": "Read config_main",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all().map(i => i.json).filter(r => r && !r.config_table);\nreturn {\n  config_table: 'config_main',\n  rows,\n  load_failed: false,\n  load_error_message: '',\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        360
      ],
      "id": "1f09c9a0-1d31-4332-ab3b-d57373f8af95",
      "name": "Normalize config_main"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Read config_main error';\n\nreturn {\n  config_table: 'config_main',\n  rows: [],\n  load_failed: true,\n  load_error_message: errorMessage,\n  _metadata: {\n    processing_stage: 'config_main_read_failed',\n    severity: 'medium',\n    error_message: errorMessage,\n    error_description: errorObj.description || '',\n    failed_node: 'Read config_main',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        520
      ],
      "id": "6adc8e32-13f5-4e1b-b07d-ae5ce51c4806",
      "name": "Handle config_main Read Error"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "config_notifications"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        200
      ],
      "id": "366e1a9e-3ea4-4969-8e17-7b9e3e698e45",
      "name": "Read config_notifications",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all().map(i => i.json).filter(r => r && !r.config_table);\nreturn {\n  config_table: 'config_notifications',\n  rows,\n  load_failed: false,\n  load_error_message: '',\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        360
      ],
      "id": "6ddba2fd-6335-419b-aa65-49340509fbba",
      "name": "Normalize config_notifications"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Read config_notifications error';\n\nreturn {\n  config_table: 'config_notifications',\n  rows: [],\n  load_failed: true,\n  load_error_message: errorMessage,\n  _metadata: {\n    processing_stage: 'config_notifications_read_failed',\n    severity: 'medium',\n    error_message: errorMessage,\n    error_description: errorObj.description || '',\n    failed_node: 'Read config_notifications',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        520
      ],
      "id": "35e2c417-ccb7-4867-89fd-aed7d9ef56d0",
      "name": "Handle config_notifications Read Error"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nfunction safeNodeJson(name) {\n  try {\n    return $(name).first()?.json;\n  } catch {\n    return undefined;\n  }\n}\n\nfunction loadWrapper(normalizeName, handleName, table) {\n  const ok = safeNodeJson(normalizeName);\n  if (ok) return ok;\n  const err = safeNodeJson(handleName);\n  if (err) return err;\n  return {\n    config_table: table,\n    rows: [],\n    load_failed: true,\n    load_error_message: 'Config wrapper not executed',\n  };\n}\n\nconst mainWrap = loadWrapper('Normalize config_main', 'Handle config_main Read Error', 'config_main');\nconst notificationWrap = loadWrapper(\n  'Normalize config_notifications',\n  'Handle config_notifications Read Error',\n  'config_notifications',\n);\n\nconst mainRows = (mainWrap.rows || []).filter(r => r.key);\nconst notificationRows = (notificationWrap.rows || []).filter(r => r.event_type);\n\nconst kv = {};\nfor (const row of mainRows) {\n  if (row.key) kv[row.key] = row.value;\n}\n\nconst dailyRule = notificationRows.find(r => r.event_type === 'daily_summary') || {};\nconst dailyEnabled = dailyRule.enabled === true || dailyRule.enabled === 'true';\n\nconst failedTables = [mainWrap, notificationWrap]\n  .filter(w => w.load_failed)\n  .map(w => w.config_table);\n\nreturn {\n  mode: (kv.mode || 'test').toLowerCase(),\n  score_threshold_high: parseInt(kv.score_threshold_high || '80', 10),\n  daily_summary_enabled: dailyEnabled,\n  config_load_failed: failedTables.length > 0,\n  config_failed_tables: failedTables,\n  _metadata: { processing_stage: 'daily_config_loaded' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ],
      "id": "abef64e7-39bb-4759-a98d-7a354870b52d",
      "name": "Load Daily Config"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nfunction safeNodeAll(name) {\n  try {\n    return $(name).all().map(i => i.json);\n  } catch {\n    return [];\n  }\n}\n\nconst config = $('Load Daily Config').first()?.json || {};\nconst leads = safeNodeAll('Read Leads For Summary').filter(r => r.lead_id);\nconst errors = safeNodeAll('Read Errors For Summary');\nconst yesterday = new Date();\nyesterday.setUTCDate(yesterday.getUTCDate() - 1);\nconst reportDate = yesterday.toISOString().slice(0, 10);\nconst threshold = Number(config.score_threshold_high || 80);\n\nconst dayLeads = leads.filter(l => (l.created_at || '').startsWith(reportDate));\nconst highScore = dayLeads.filter(l => Number(l.score || 0) >= threshold);\nconst crmSynced = dayLeads.filter(l => l.crm_status === 'synced');\nconst notified = dayLeads.filter(l => l.notification_status === 'sent');\nconst reviewPending = dayLeads.filter(l => l.review_status === 'pending_review');\nconst reviewApproved = dayLeads.filter(l => l.review_status === 'approved');\n\nconst errorTypes = {};\nfor (const e of errors.filter(e => (e.timestamp || '').startsWith(reportDate))) {\n  const key = (e.message || 'unknown').slice(0, 40);\n  errorTypes[key] = (errorTypes[key] || 0) + 1;\n}\n\nconst dailyEnabled = config.daily_summary_enabled === true;\nconst mode = (config.mode || 'test').toLowerCase();\n\nreturn {\n  date: reportDate,\n  new_leads: dayLeads.length,\n  high_score_leads: highScore.length,\n  crm_success_rate: dayLeads.length ? (crmSynced.length / dayLeads.length * 100).toFixed(1) + '%' : 'N/A',\n  slack_success_count: notified.length,\n  review_pending: reviewPending.length,\n  review_approved: reviewApproved.length,\n  error_count: Object.values(errorTypes).reduce((a,b)=>a+b,0),\n  error_types: errorTypes,\n  score_threshold_high: threshold,\n  mode,\n  daily_summary_enabled: dailyEnabled,\n  daily_gate_passed: mode === 'production' && dailyEnabled,\n  _metadata: { processing_stage: 'daily_summary_built' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        200
      ],
      "id": "cd644a78-1352-4ae8-b6e6-69b2bbf9d48a",
      "name": "Build Daily Summary"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1c5e09f5-83d1-4394-9d28-150eab4d6896",
              "leftValue": "={{ $json.daily_gate_passed }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1540,
        200
      ],
      "id": "4249d325-f0f9-4406-ae8a-a33cbfacce1b",
      "name": "Should Send Daily?"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.SLACK_CHANNEL_ID || 'SLACK_CHANNEL_ID' }}"
        },
        "text": "=\ud83d\udcca CRM Daily Summary ({{ $json.date }})\nNew leads: {{ $json.new_leads }}\nHigh score: {{ $json.high_score_leads }}\nCRM success rate: {{ $json.crm_success_rate }}\nSlack sent: {{ $json.slack_success_count }}\nReview pending: {{ $json.review_pending }}\nErrors: {{ $json.error_count }}"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1760,
        120
      ],
      "id": "1593376e-34ad-479e-ac11-c5ee89272eba",
      "name": "Slack Daily Report",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput",
      "credentials": {
        "slackOAuth2Api": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst summary = $input.item.json;\nreturn {\n  ...summary,\n  slack_skipped: true,\n  _metadata: { processing_stage: 'daily_slack_skipped_test_or_disabled' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        320
      ],
      "id": "ca2892c7-543e-443f-b025-ee85c6db52af",
      "name": "Skip Daily Slack"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Slack Daily Report error';\n\nfunction safeNodeJson(name) {\n  try {\n    return $(name).first()?.json;\n  } catch {\n    return undefined;\n  }\n}\n\nconst summary = safeNodeJson('Build Daily Summary') || safeNodeJson('Handle Summary Read Error') || {};\nreturn {\n  ...summary,\n  error_type: 'slack_summary_failed',\n  slack_error_message: errorMessage,\n  _metadata: { processing_stage: 'slack_summary_error_handled', severity: 'low', error_message: errorMessage },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        240
      ],
      "id": "08e7d2f6-13e1-4888-a1f6-dd28c2f46c12",
      "name": "Log Slack Summary Error"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1980,
        120
      ],
      "id": "1864fa1a-fd22-4e13-95c6-f4a37e89ae8a",
      "name": "Daily Summary End"
    }
  ],
  "connections": {
    "Daily 9am": {
      "main": [
        [
          {
            "node": "Read Leads For Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads For Summary": {
      "main": [
        [
          {
            "node": "Read Errors For Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Summary Read Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Errors For Summary": {
      "main": [
        [
          {
            "node": "Read config_main",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Summary Read Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read config_main": {
      "main": [
        [
          {
            "node": "Normalize config_main",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle config_main Read Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize config_main": {
      "main": [
        [
          {
            "node": "Read config_notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle config_main Read Error": {
      "main": [
        [
          {
            "node": "Read config_notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read config_notifications": {
      "main": [
        [
          {
            "node": "Normalize config_notifications",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle config_notifications Read Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize config_notifications": {
      "main": [
        [
          {
            "node": "Load Daily Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle config_notifications Read Error": {
      "main": [
        [
          {
            "node": "Load Daily Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Daily Config": {
      "main": [
        [
          {
            "node": "Build Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Daily Summary": {
      "main": [
        [
          {
            "node": "Should Send Daily?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Summary Read Error": {
      "main": [
        [
          {
            "node": "Should Send Daily?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Daily?": {
      "main": [
        [
          {
            "node": "Slack Daily Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Daily Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Daily Report": {
      "main": [
        [
          {
            "node": "Daily Summary End",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Slack Summary Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Slack Summary Error": {
      "main": [
        [
          {
            "node": "Daily Summary End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Daily Slack": {
      "main": [
        [
          {
            "node": "Daily Summary End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "B2B Lead Error Handler"
  },
  "versionId": "dbedaa9f-9af5-4438-ad41-00a5717b0487",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "crm-workflow"
    }
  ]
}