workflows/B2B Lead Daily Summary.json
{
  "name": "B2B Lead Daily Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ],
      "id": "1c1f8a20-f611-460f-85a0-bccc5ae1f4d4",
      "name": "Daily 9am"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "leads"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        100
      ],
      "id": "607ebd51-2883-47c4-a0d6-87a23ca55124",
      "name": "Read Leads For Summary",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "error_logs"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        300
      ],
      "id": "5f95a44c-050d-4140-bc30-6dbb918225be",
      "name": "Read Errors For Summary",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        440,
        200
      ],
      "id": "9018c49e-ba5d-4fa7-8b7a-e76a4bf9a81f",
      "name": "Merge Summary Data"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst leads = $('Read Leads For Summary').all().map(i => i.json);\nconst errors = $('Read Errors For Summary').all().map(i => i.json);\nconst today = new Date().toISOString().slice(0, 10);\n\nconst todayLeads = leads.filter(l => (l.created_at || '').startsWith(today));\nconst highScore = todayLeads.filter(l => Number(l.score || 0) >= 80);\nconst crmSynced = todayLeads.filter(l => l.crm_status === 'synced');\nconst crmFailed = todayLeads.filter(l => l.crm_status === 'failed');\nconst notified = todayLeads.filter(l => l.notification_status === 'sent');\nconst reviewPending = todayLeads.filter(l => l.review_status === 'pending_review');\nconst reviewApproved = todayLeads.filter(l => l.review_status === 'approved');\n\nconst errorTypes = {};\nfor (const e of errors.filter(e => (e.timestamp || '').startsWith(today))) {\n  const key = (e.message || 'unknown').slice(0, 40);\n  errorTypes[key] = (errorTypes[key] || 0) + 1;\n}\n\nconst summary = {\n  date: today,\n  new_leads: todayLeads.length,\n  high_score_leads: highScore.length,\n  crm_success_rate: todayLeads.length ? (crmSynced.length / todayLeads.length * 100).toFixed(1) + '%' : 'N/A',\n  slack_success_count: notified.length,\n  review_pending: reviewPending.length,\n  review_approved: reviewApproved.length,\n  error_count: Object.values(errorTypes).reduce((a,b)=>a+b,0),\n  error_types: errorTypes,\n  _metadata: { processing_stage: 'daily_summary_built' },\n};\n\nreturn summary;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        200
      ],
      "id": "06e08fa1-0ab7-417c-b14c-758ce5e46f46",
      "name": "Build Daily Summary"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.SLACK_CHANNEL_ID || 'SLACK_CHANNEL_ID' }}"
        },
        "text": "=\ud83d\udcca CRM Daily Summary ({{ $json.date }})\nNew leads: {{ $json.new_leads }}\nHigh score: {{ $json.high_score_leads }}\nCRM success rate: {{ $json.crm_success_rate }}\nSlack sent: {{ $json.slack_success_count }}\nReview pending: {{ $json.review_pending }}\nErrors: {{ $json.error_count }}"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        880,
        200
      ],
      "id": "9c6c1ac4-9185-4e2f-b7a9-060747c70335",
      "name": "Slack Daily Report",
      "onError": "continueErrorOutput",
      "credentials": {
        "slackOAuth2Api": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Daily 9am": {
      "main": [
        [
          {
            "node": "Read Leads For Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Errors For Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads For Summary": {
      "main": [
        [
          {
            "node": "Merge Summary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Errors For Summary": {
      "main": [
        [
          {
            "node": "Merge Summary Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Summary Data": {
      "main": [
        [
          {
            "node": "Build Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Daily Summary": {
      "main": [
        [
          {
            "node": "Slack Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "B2B Lead Error Handler"
  },
  "versionId": "ad5c9e89-b9f2-4b25-bd83-0844518fa9a4",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "crm-workflow"
    }
  ]
}