workflows/B2B Lead Calendly Webhook.json
{
  "name": "B2B Lead Calendly Webhook",
  "nodes": [
    {
      "parameters": {
        "path": "calendly",
        "options": {
          "rawBody": true
        },
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        200
      ],
      "id": "f30d8d18-48ba-49b5-a10c-655a47d3a15a",
      "name": "Calendly Webhook",
      "webhookId": "216e6346-f1d7-46fd-9d3f-2655bcc35afd"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst crypto = require('crypto');\n\nconst item = $input.item;\nconst json = item.json || {};\nconst headers = json.headers || {};\nconst body = json.body ?? json;\nconst signingKey = $env.CALENDLY_WEBHOOK_SIGNING_KEY || '';\n\nconst signatureHeader =\n  headers['calendly-webhook-signature'] ||\n  headers['Calendly-Webhook-Signature'] ||\n  '';\n\nconst rawBody =\n  json.rawBody ||\n  (typeof body === 'string' ? body : JSON.stringify(body));\n\nfunction verifySignature(key, header, payload) {\n  if (!key) return { valid: true, skipped: true, reason: 'verification_skipped' };\n  if (!header) return { valid: false, skipped: false, reason: 'missing_signature' };\n\n  const parts = {};\n  for (const part of header.split(',')) {\n    const eq = part.indexOf('=');\n    if (eq === -1) continue;\n    parts[part.slice(0, eq).trim()] = part.slice(eq + 1).trim();\n  }\n\n  const t = parts.t;\n  const v1 = parts.v1;\n  if (!t || !v1) return { valid: false, skipped: false, reason: 'malformed_signature' };\n\n  const signedPayload = `${t}.${payload}`;\n  const expected = crypto.createHmac('sha256', key).update(signedPayload).digest('hex');\n\n  let valid = false;\n  try {\n    valid =\n      v1.length === expected.length &&\n      crypto.timingSafeEqual(Buffer.from(v1), Buffer.from(expected));\n  } catch {\n    valid = false;\n  }\n\n  return {\n    valid,\n    skipped: false,\n    reason: valid ? 'ok' : 'invalid_signature',\n  };\n}\n\nconst result = verifySignature(signingKey, signatureHeader, rawBody);\nconst parsedBody = typeof body === 'string' ? JSON.parse(body) : body;\n\nreturn {\n  headers,\n  body: parsedBody,\n  rawBody,\n  signature_valid: result.valid,\n  signature_skipped: result.skipped || false,\n  signature_error: result.reason,\n  _metadata: {\n    processing_stage: result.valid ? 'calendly_signature_verified' : 'calendly_signature_failed',\n    severity: result.valid ? 'info' : 'medium',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        200
      ],
      "id": "5b1ec560-689a-45b0-a3ff-e3d78ea974e6",
      "name": "Verify Calendly Signature"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "28aa83d4-a22f-483c-a5a4-ce50315f3144",
              "leftValue": "={{ $json.signature_valid }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        200
      ],
      "id": "2b8c2498-934f-46f3-ac28-e089e3b55949",
      "name": "Signature Valid?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "audit_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "",
            "correlation_id": "",
            "event": "calendly_signature_invalid",
            "new_value": "={{ $json.signature_error }}",
            "workflow": "B2B Lead Calendly Webhook",
            "timestamp": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "new_value",
              "displayName": "new_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        660,
        400
      ],
      "id": "0d580ddb-8d35-428f-bb95-bb35ba6898a7",
      "name": "Write Invalid Signature Audit",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": false, \"error\": $json.signature_error || \"invalid_signature\" } }}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        400
      ],
      "id": "366df9c2-e25b-4a91-bd09-790ede300a3e",
      "name": "Respond 401"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst crypto = require('crypto');\nconst body = $input.item.json.body || $input.item.json;\nconst event = body.event || '';\nconst payload = body.payload || {};\nconst scheduledEvent = payload.scheduled_event || {};\nconst eventField = payload.event;\nconst invitee = payload.invitee || {};\n\nconst inviteeEmail = (\n  payload.email ||\n  invitee.email ||\n  ''\n).toLowerCase().trim();\n\nconst eventUri =\n  scheduledEvent.uri ||\n  (typeof eventField === 'string' ? eventField : eventField?.uri) ||\n  '';\n\nconst meetingTime = scheduledEvent.start_time || '';\n\nlet meetingStatus = 'not_booked';\nif (event === 'invitee.created') {\n  meetingStatus = 'booked';\n} else if (event === 'invitee.canceled') {\n  meetingStatus = 'canceled';\n}\n\nconst correlationId = crypto.randomUUID();\nconst now = new Date().toISOString();\n\nreturn {\n  calendly_event: event,\n  invitee_email: inviteeEmail,\n  calendly_event_uri: eventUri,\n  meeting_time: meetingTime,\n  meeting_status: meetingStatus,\n  calendly_invitee_email: inviteeEmail,\n  correlation_id: correlationId,\n  updated_at: now,\n  _metadata: { processing_stage: 'calendly_normalized' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        200
      ],
      "id": "f93a38ce-439e-4c2e-a48e-3a947c730b38",
      "name": "Normalize Calendly Payload"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "leads"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        200
      ],
      "id": "d9814d71-cfa4-4df7-81c3-aa8cb622a94d",
      "name": "Read All Leads",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\n// Must runOnceForAllItems: Sheets returns one item per row; forEachItem would\n// fan-out Match \u2192 Update \u2192 Slack Notify (N booked messages for N leads).\nconst normalized = $('Normalize Calendly Payload').first()?.json ?? {};\n\nfunction rowsFrom(name) {\n  try {\n    return $(name).all().map((row) => row.json).filter((row) => row && row.lead_id);\n  } catch {\n    return [];\n  }\n}\n\nlet existingRows = [];\ntry {\n  existingRows = $input.all().map((row) => row.json).filter((row) => row && row.lead_id);\n} catch {\n  existingRows = [];\n}\nif (!existingRows.length) {\n  existingRows = rowsFrom('Read All Leads');\n}\n\nconst email = (normalized.invitee_email || '').toLowerCase().trim();\nconst lead = existingRows.find(\n  (row) => (row.contact_email || '').toLowerCase().trim() === email,\n);\n\nlet meetingStatus = normalized.meeting_status;\nif (lead && normalized.calendly_event === 'invitee.created') {\n  const prev = (lead.meeting_status || '').toLowerCase();\n  if (\n    prev === 'booked' &&\n    lead.meeting_time &&\n    normalized.meeting_time &&\n    lead.meeting_time !== normalized.meeting_time\n  ) {\n    meetingStatus = 'rescheduled';\n  }\n}\n\nconst auditEventByStatus = {\n  booked: 'calendly_booked',\n  canceled: 'calendly_canceled',\n  rescheduled: 'calendly_rescheduled',\n};\n\nreturn {\n  ...normalized,\n  lead_found: !!lead,\n  lead_id: lead?.lead_id || '',\n  correlation_id: lead?.correlation_id || normalized.correlation_id,\n  contact_name: lead?.contact_name || '',\n  contact_email: lead?.contact_email || email,\n  company_name: lead?.company_name || '',\n  score: lead?.score || 0,\n  previous_meeting_status: lead?.meeting_status || '',\n  meeting_status: meetingStatus,\n  calendly_invitee_email: email,\n  audit_event: lead ? (auditEventByStatus[meetingStatus] || 'calendly_updated') : 'calendly_unmatched',\n  sheets_row_count: existingRows.length,\n  _metadata: {\n    processing_stage: lead ? 'calendly_lead_matched' : 'calendly_lead_not_found',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ],
      "id": "f487b470-d91c-40cd-9d0c-577b3f8d853c",
      "name": "Match Lead By Email"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Read All Leads error';\n\nconst normalized = $('Normalize Calendly Payload').first()?.json ?? {};\n\nreturn {\n  ...normalized,\n  lead_found: false,\n  read_error_message: errorMessage,\n  audit_event: 'calendly_read_failed',\n  _metadata: {\n    processing_stage: 'calendly_read_failed',\n    severity: 'medium',\n    error_message: errorMessage,\n    failed_node: 'Read All Leads',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        400
      ],
      "id": "2208d9bc-2533-4c54-8ea8-8ecfc187fe7e",
      "name": "Handle Calendly Read Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d9c7142-a404-45ac-8e30-ed50b06d2f85",
              "leftValue": "={{ $json.lead_found }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1320,
        200
      ],
      "id": "a2e446d8-5732-4c8f-ab3f-38918bf1d80c",
      "name": "Lead Found?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "meeting_status": "={{ $json.meeting_status }}",
            "meeting_time": "={{ $json.meeting_time }}",
            "calendly_event_uri": "={{ $json.calendly_event_uri }}",
            "calendly_invitee_email": "={{ $json.calendly_invitee_email }}",
            "updated_at": "={{ $json.updated_at }}"
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "meeting_status",
              "displayName": "meeting_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "meeting_time",
              "displayName": "meeting_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "calendly_event_uri",
              "displayName": "calendly_event_uri",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "calendly_invitee_email",
              "displayName": "calendly_invitee_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1540,
        120
      ],
      "id": "192bca59-62ec-4406-bad3-0e1fb82defad",
      "name": "Update Lead Meeting",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Update Lead Meeting error';\n\nconst lead = $('Match Lead By Email').first()?.json ?? {};\n\nreturn {\n  ...lead,\n  sheets_update_failed: true,\n  sheets_error_message: errorMessage,\n  audit_event: 'calendly_update_failed',\n  _metadata: {\n    processing_stage: 'calendly_update_failed',\n    severity: 'high',\n    error_message: errorMessage,\n    failed_node: 'Update Lead Meeting',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        120
      ],
      "id": "b50baab0-dfaa-40d5-806f-fddbf90c9290",
      "name": "Handle Update Meeting Error"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "error_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow": "B2B Lead Calendly Webhook",
            "execution_id": "={{ $execution.id }}",
            "node": "Update Lead Meeting",
            "message": "={{ $json.sheets_error_message }}",
            "stack": "",
            "correlation_id": "={{ $json.correlation_id }}",
            "retry_suggestion": "retry_sheets_update",
            "timestamp": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "node",
              "displayName": "node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stack",
              "displayName": "stack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "retry_suggestion",
              "displayName": "retry_suggestion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1980,
        240
      ],
      "id": "624ba532-2a04-41af-ba94-09ddfcf4f8f9",
      "name": "Write Calendly Update Error Log",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst lead = $('Match Lead By Email').first()?.json ?? $input.item.json;\nconst status = lead.meeting_status || 'updated';\nconst name = lead.contact_name || 'Unknown';\nconst email = lead.contact_email || lead.invitee_email || lead.calendly_invitee_email || '';\nconst when = lead.meeting_time || 'N/A';\nconst score = lead.score != null && lead.score !== '' ? lead.score : 'N/A';\n\nconst titles = {\n  booked: '\ud83d\udcc5 Meeting booked',\n  canceled: '\u274c Meeting canceled',\n  rescheduled: '\ud83d\udd04 Meeting rescheduled',\n};\nconst title = titles[status] || '\ud83d\udcc5 Calendly update';\n\nreturn {\n  ...lead,\n  slack_text: `${title}\\nLead: ${name} (${email})\\nScore: ${score}\\nTime: ${when}\\nStatus: ${status}\\nCorrelation: ${lead.correlation_id || 'N/A'}`,\n  _metadata: { processing_stage: 'calendly_slack_prepared' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ],
      "id": "0f7ce201-82bb-410a-a899-ef5b702bb295",
      "name": "Build Calendly Slack Text"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.SLACK_CHANNEL_ID || 'SLACK_CHANNEL_ID' }}"
        },
        "text": "={{ $json.slack_text }}"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1980,
        0
      ],
      "id": "867a4bff-e8c0-4a61-8694-990134aef152",
      "name": "Slack Calendly Notify",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput",
      "credentials": {
        "slackOAuth2Api": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst errJson = item.json || {};\nconst errorObj = item.error || errJson.error || {};\nconst errorMessage =\n  errorObj.message ||\n  errorObj.description ||\n  errJson.message ||\n  errJson.description ||\n  (typeof errJson.error === 'string' ? errJson.error : null) ||\n  'Unknown Slack Calendly Notify error';\n\nconst lead =\n  $('Build Calendly Slack Text').first()?.json ??\n  $('Match Lead By Email').first()?.json ??\n  {};\n\nreturn {\n  ...lead,\n  slack_error_message: errorMessage,\n  _metadata: {\n    processing_stage: 'calendly_slack_error_handled',\n    severity: 'low',\n    error_message: errorMessage,\n    failed_node: 'Slack Calendly Notify',\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        120
      ],
      "id": "50e89db8-2354-413b-923d-68a38a387416",
      "name": "Log Calendly Slack Error"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nfunction safeNodeJson(name) {\n  try {\n    return $(name).first()?.json;\n  } catch {\n    return undefined;\n  }\n}\n\nconst matched = safeNodeJson('Match Lead By Email') ?? {};\nconst updateError = safeNodeJson('Handle Update Meeting Error');\n\nlet auditEvent = matched.audit_event || 'calendly_updated';\nif (updateError?.sheets_update_failed) {\n  auditEvent = updateError.audit_event || 'calendly_update_failed';\n}\n\nreturn {\n  lead_id: matched.lead_id || '',\n  correlation_id: matched.correlation_id || '',\n  audit_event: auditEvent,\n  previous_meeting_status: matched.previous_meeting_status || '',\n  meeting_status: matched.meeting_status || '',\n  updated_at: matched.updated_at || new Date().toISOString(),\n  _metadata: { processing_stage: 'calendly_audit_prepared' },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        0
      ],
      "id": "6995f528-dc5a-4b91-becc-9ef2c859aa70",
      "name": "Prepare Calendly Audit"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "audit_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "correlation_id": "={{ $json.correlation_id }}",
            "event": "={{ $json.audit_event }}",
            "old_value": "={{ $json.previous_meeting_status || '' }}",
            "new_value": "={{ $json.meeting_status }}",
            "workflow": "B2B Lead Calendly Webhook",
            "timestamp": "={{ $json.updated_at || new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "old_value",
              "displayName": "old_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "new_value",
              "displayName": "new_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2420,
        0
      ],
      "id": "697f4531-2896-4f81-b411-35954a0e8407",
      "name": "Write Calendly Audit Log",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID || 'REPLACE_WITH_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "audit_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "",
            "correlation_id": "={{ $json.correlation_id }}",
            "event": "={{ $json.audit_event || 'calendly_unmatched' }}",
            "new_value": "={{ $json.invitee_email || $json.calendly_invitee_email || '' }}",
            "workflow": "B2B Lead Calendly Webhook",
            "timestamp": "={{ $json.updated_at || new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event",
              "displayName": "event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "new_value",
              "displayName": "new_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1540,
        320
      ],
      "id": "917dd770-13b5-47b7-8195-33718294f7fe",
      "name": "Write Unmatched Audit Log",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2640,
        200
      ],
      "id": "84686f56-41a2-4954-9457-3943efcb5af6",
      "name": "Respond 200"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2860,
        200
      ],
      "id": "4106b0d2-f6ea-40b2-81e3-ef044a740131",
      "name": "Calendly Webhook End"
    }
  ],
  "connections": {
    "Calendly Webhook": {
      "main": [
        [
          {
            "node": "Verify Calendly Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Calendly Signature": {
      "main": [
        [
          {
            "node": "Signature Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signature Valid?": {
      "main": [
        [
          {
            "node": "Normalize Calendly Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write Invalid Signature Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Invalid Signature Audit": {
      "main": [
        [
          {
            "node": "Respond 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Calendly Payload": {
      "main": [
        [
          {
            "node": "Read All Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Leads": {
      "main": [
        [
          {
            "node": "Match Lead By Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Calendly Read Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Calendly Read Error": {
      "main": [
        [
          {
            "node": "Write Unmatched Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Lead By Email": {
      "main": [
        [
          {
            "node": "Lead Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Found?": {
      "main": [
        [
          {
            "node": "Update Lead Meeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write Unmatched Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Meeting": {
      "main": [
        [
          {
            "node": "Build Calendly Slack Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Update Meeting Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Update Meeting Error": {
      "main": [
        [
          {
            "node": "Write Calendly Update Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Calendly Update Error Log": {
      "main": [
        [
          {
            "node": "Prepare Calendly Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Calendly Slack Text": {
      "main": [
        [
          {
            "node": "Slack Calendly Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Calendly Notify": {
      "main": [
        [
          {
            "node": "Prepare Calendly Audit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Calendly Slack Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Calendly Slack Error": {
      "main": [
        [
          {
            "node": "Prepare Calendly Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Calendly Audit": {
      "main": [
        [
          {
            "node": "Write Calendly Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Calendly Audit Log": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Unmatched Audit Log": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 200": {
      "main": [
        [
          {
            "node": "Calendly Webhook End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "B2B Lead Error Handler"
  },
  "versionId": "84a0b85c-c9ee-43cb-8918-bb5615f16415",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "crm-workflow"
    }
  ]
}